<section>
  <header>
		<!-- commenter's avatar will go here -->
    <span><%= comment.url.blank? ? comment.name : link_to(comment.name, comment.url) %> commented</span><br />
    <time pubdate datetime="<%= comment.created_at.strftime("%Y-%m-%d") %>"><%= comment.created_at.strftime("%B %d, %Y") %></time>
		<div class="clear"></div>
  </header>
  <section>
    <%= format_comment(comment.comment) %>
  </section>
</section>
