<section>
  <header>
    <span>Someone commented</span>
    <time pubdate datetime="<%= comment.created_at.strftime("%Y-%m-%d") %>"><%= comment.created_at.strftime("%B %d, %Y") %></time>
  </header>
  <section>
    <%= format_comment(comment.comment) %>
  </section>
</section>
