<section id="admin-actions">
  <strong>Admin actions:</strong>
  <%= link_to "New post", new_post_path %>
  <% if @post && !@post.new_record? %>
    – <%= link_to "Edit post", [:edit, @post] %>
  <% end %>
</section>
