<div class="auth-links">
	<p>Log in with:
		<a href="<%= login_path("twitter") %>" title="Log in with Twitter"><img src="/images/auth/twitter.png" width="32" height="32" alt="Log in with Twitter" /></a>
		<a href="<%= login_path("github") %>" title="Log in with GitHub"><img src="/images/auth/github.png" width="32" height="32" alt="Log in with GitHub"></a>
	</p>
</div>
