<header class="site-header">
  <div class="bucket">
    <hgroup>
      <h1 class="main-title">I'm <span>Jimmy Cuadra</span>.</h1>
      I write about <span>web development</span>, <span>programming</span> and <span>open source software</span>.
    </hgroup>
  </div>
</header>
