/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*
    awesome buttons are based on a blog post by ZERB
    Read there blog post for more information:
    "Super awesome Buttons with CSS3 and RGBA":http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba

    this buttons are even more awesome, as the need only one color for all three states,
    and have an super awesome onclick state

    Licensed under the MIT license
    http://swik.net/License:MIT/License+Text
*/
/* set an awesome color for the buttons, feel free to add new colors like an .awesome.green or .awesome.secondary */
/* the awesome size gets set here. Feel free to add new sizes, like .awesome.small or .small.large */
.awesome {
  padding: 5px 10px 6px !important;
  font-size: 13px !important; }

.awesome:active {
  padding: 6px 10px 5px !important; }

/* Touch the rest at your onw risk. */
.awesome {
  border: 0 !important;
  cursor: pointer !important;
  font: inherit !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 1 !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  /* vertical margin is the opposite of button's awesomeness */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  /* not all browser support these, but who cares? */
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25), -2px 0 1px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) !important;
  /* who needs images these days? */
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(150, 150, 150, 0.2), rgba(0, 0, 0, 0)) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.2)), color-stop(0.5, rgba(150, 150, 150, 0.2)), to(rgba(0, 0, 0, 0))) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30ffffff,endColorstr=#10000000) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2);
  /* cross browser inline block hack
     see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle !important;
  *display: inline !important;
  position: relative;
  /* IE luv */
  zoom: 1;
  /* disable text selection (Firefox only) */
  -moz-user-select: none;
  /* no text selection for iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

/* OPERA only
   if there is no border set, Opera shows a transparent background-color if border-radius is set. */
@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
  input.awesome {
    border: 1px solid RGBa(0, 0, 0, 0) !important; } }

/* hide selection background color */
.awesome::selection {
  background: transparent; }

.awesome {
  outline: 0;
  /* remove dotted line, works for links only */ }

.awesome::-moz-focus-inner {
  border: none;
  /* remove dotted lines for buttons */ }

.awesome:focus,
.awesome:hover {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(150, 150, 150, 0.3), rgba(0, 0, 0, 0)) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.4)), color-stop(0.5, rgba(150, 150, 150, 0.3)), to(rgba(0, 0, 0, 0))) !important;
  #filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50ffffff,endColorstr=#20000000) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2); }

.awesome:active {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(150, 150, 150, 0.2), rgba(255, 255, 255, 0.2)) !important;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.5, rgba(150, 150, 150, 0.2)), to(rgba(255, 255, 255, 0.2))) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#20000000,endColorstr=#50ffffff) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7) !important;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7) !important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.7) !important; }

/* Safari doesn't support inset box shadow, so we better remove it */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .awesome:active {
    -webkit-box-shadow: none; } }

.CodeRay {
  background-color: #2b2b2b;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #e6e1dc;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin-bottom: 18px; }

.CodeRay pre {
  margin: 0px;
  padding: 0px; }

.CodeRay td {
  padding-right: 15px; }

.CodeRay .pd,
.CodeRay .kw,
.CodeRay .r {
  color: #cc7833; }

.CodeRay .i,
.CodeRay .s,
.CodeRay .ke,
.CodeRay .rx {
  color: #a5c261; }

.CodeRay .lv,
.CodeRay .pc,
.CodeRay .sy {
  color: #6e9cbe; }

.CodeRay .fu {
  color: #ffc66d; }

.CodeRay .c {
  color: #bc9458; }

.CodeRay .ta,
.CodeRay .dt {
  color: #e8bf6a; }

.CodeRay .an {
  color: #e8926a; }

.CodeRay .co {
  color: #da4939; }

.CodeRay .cl {
  color: #fff; }

/* -------------------------------------------------------------------------------------------------

It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

This stylesheet forms part of the Formtastic Rails Plugin
(c) 2008 Justin French

--------------------------------------------------------------------------------------------------*/
/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0; }

form.formtastic fieldset {
  border: 0; }

form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal; }

form.formtastic ol, form.formtastic ul {
  list-style: none; }

form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal; }

form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%; }

form.formtastic legend {
  white-space: normal;
  color: #000; }

/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square; }

form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item; }

/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset {
  overflow: auto; }

/* clearing contained floats */
form.formtastic fieldset.buttons {
  padding-left: 25%; }

form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em; }

/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li {
  padding: 0.5em 0;
  margin-top: -0.5em;
  margin-bottom: 1em; }

/* padding and negative margin juggling is for Firefox */
form.formtastic fieldset > ol > li {
  overflow: auto; }

/* clearing contained floats */
/* LABELS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em; }

form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0; }

form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em; }

/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li fieldset {
  position: relative; }

form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px; }

form.formtastic fieldset > ol > li fieldset legend span {
  position: absolute; }

form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute; }

form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%; }

form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0; }

/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%; }

/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%; }

form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square; }

form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item; }

/* STRING, NUMERIC, PASSWORD, EMAIL, URL, PHONE & SEARCH OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.string input,
form.formtastic fieldset > ol > li.password input,
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input {
  width: 72%; }

form.formtastic fieldset > ol > li.string input[size],
form.formtastic fieldset > ol > li.password input[size],
form.formtastic fieldset > ol > li.numeric input[size],
form.formtastic fieldset > ol > li.email input[size],
form.formtastic fieldset > ol > li.url input[size],
form.formtastic fieldset > ol > li.phone input[size],
form.formtastic fieldset > ol > li.search input[size] {
  width: auto;
  max-width: 72%; }

/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.text textarea {
  width: 72%; }

form.formtastic fieldset > ol > li.text textarea[cols] {
  width: auto;
  max-width: 72%; }

/* HIDDEN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset ol li.hidden {
  display: none; }

/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto; }

form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em; }

/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.radio fieldset {
  overflow: visible; }

form.formtastic fieldset > ol > li.radio fieldset ol {
  margin-bottom: -0.5em; }

form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible; }

form.formtastic fieldset > ol > li.radio fieldset ol li label {
  float: none;
  width: 100%; }

form.formtastic fieldset > ol > li.radio fieldset ol li label input {
  margin-right: 0.2em; }

/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.check_boxes fieldset {
  overflow: visible; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.5em; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
  overflow: visible; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%; }

form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em; }

/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.time fieldset ol li,
form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0; }

form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.time fieldset ol li label,
form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none; }

form.formtastic fieldset > ol > li.date fieldset ol li label input,
form.formtastic fieldset > ol > li.time fieldset ol li label input,
form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0; }

/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }

HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/
html, body {
  height: 100%; }

body {
  background: #405f85;
  color: #003366;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px; }

a, a:active, a:visited, a:hover {
  color: #660f57;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.clear {
  clear: both; }

#site-header {
  background: #003366;
  border-bottom: 1px solid #e7ebf0;
  color: #e7ebf0;
  font-family: Times, serif; }
  #site-header h1 {
    font-size: 36px;
    line-height: 40px; }
  #site-header h2 {
    font-size: 30px;
    line-height: 36px; }
  #site-header h3 {
    font-size: 24px;
    line-height: 30px; }
  #site-header h1, #site-header h2, #site-header h3 {
    text-shadow: black 1px 1px 1px; }
  #site-header a, #site-header a:active, #site-header a:visited, #site-header a:hover {
    color: #30b041; }

nav {
  float: right;
  font-size: 18px;
  padding: 10px 10px 0 0; }
  nav li {
    float: left; }
    nav li div {
      margin-left: 10px;
      padding-bottom: 5px; }
    nav li.current div {
      border-bottom: 1px dashed #e7ebf0; }

.awesome {
  background-color: #660f57 !important;
  color: #e7ebf0 !important; }

.bucket {
  padding: 20px 0;
  margin: 0 auto;
  width: 960px; }

#content {
  background-color: #e7ebf0;
  background-image: url("/images/content_texture.png");
  box-shadow: inset 0 5px 6px #6c6c6c;
  -webkit-box-shadow: inset 0 5px 6px #6c6c6c; }
  #content .bucket {
    border-left: 2px dashed rgba(0, 0, 0, 0.6);
    padding: 20px; }
  #content #admin-actions,
  #content #flash {
    background: #e7ebf0;
    border: 1px solid #000;
    font-size: 12px;
    margin-bottom: 18px;
    padding: 5px 8px; }
  #content #flash {
    font-size: 14px; }
  #content .pagination {
    margin-bottom: 18px;
    text-align: right; }
  #content h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px; }
  #content article {
    margin-bottom: 72px; }
    #content article:last-of-type {
      margin-bottom: 36px; }
    #content article h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
      text-shadow: rgba(120, 120, 120, 0.4) 1px 2px 2px; }
      #content article h1 a, #content article h1 a:active, #content article h1 a:visited, #content article h1 a:hover {
        color: inherit; }
    #content article time {
      display: block;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 18px;
      text-shadow: rgba(90, 90, 90, 0.3) 1px 1px 1px; }
    #content article object {
      margin-bottom: 36px; }
    #content article ul,
    #content article ol {
      padding-left: 20px;
      margin-bottom: 18px; }
    #content article code {
      background: #b1bdcd;
      border-radius: 4px;
      padding: 1px; }
    #content article blockquote {
      border: 1px dashed rgba(0, 0, 0, 0.6);
      margin-bottom: 18px;
      padding: 18px; }
      #content article blockquote p:last-of-type {
        margin: 0; }
    #content article aside {
      background: #b1bdcd;
      border-radius: 4px;
      float: right;
      margin: 0 0 12px 20px;
      padding: 9px;
      width: 400px; }
    #content article footer {
      background: #b1bdcd;
      border-radius: 4px;
      display: inline-block;
      font-size: 12px;
      padding: 9px; }
      #content article footer p {
        line-height: 14px;
        margin-bottom: 12px; }
        #content article footer p:last-child {
          margin-bottom: 0; }
  #content #projects h1 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0; }
  #content #projects hgroup {
    background: #e7ebf0;
    box-shadow: 1px 1px 2px #6c6c6c;
    -webkit-box-shadow: 1px 1px 2px #6c6c6c;
    margin-bottom: 36px;
    padding: 9px; }
  #content #projects ul {
    list-style: none;
    margin-bottom: 36px; }
    #content #projects ul h2 {
      font-size: 16px;
      margin-bottom: 18px; }
  #content #projects figure {
    float: left;
    margin: 0 36px 36px 0; }
    #content #projects figure img {
      border: 1px solid #000; }
    #content #projects figure.alt {
      float: right;
      margin: 0 0 36px 36px; }
  #content #about h2 {
    font-size: 16px;
    margin-bottom: 18px; }
  #content #about figure {
    float: right;
    margin: 0 0 18px 18px; }
    #content #about figure img {
      border: 1px solid #000; }
  #content #about ul {
    margin-left: 18px; }
    #content #about ul li {
      line-height: 24px; }
  #content #tags ul {
    margin-left: 18px; }
    #content #tags ul li {
      line-height: 24px; }
  #content #comments > section {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    margin-bottom: 18px; }
    #content #comments > section header, #content #comments > section section {
      padding: 9px; }
    #content #comments > section header {
      background: #b1bdcd;
      border-bottom: 1px solid #000;
      border-radius: 4px 4px 0 0; }
      #content #comments > section header > a {
        float: right; }
      #content #comments > section header img {
        border: 1px solid #000;
        float: left;
        margin-right: 10px; }
    #content #comments > section section {
      background: #e7ebf0;
      border-radius: 0 0 4px 4px; }
    #content #comments > section p:last-of-type {
      margin: 0; }
    #content #comments > section:last-of-type {
      margin-bottom: 36px; }
  #content #comments h2 {
    font-size: 16px;
    margin-bottom: 18px; }

p {
  margin-bottom: 18px; }

#site-footer {
  background-color: #405f85;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.15, #003366), color-stop(0.4, #1e4d7d), color-stop(0.7, #405f85));
  border-top: 2px solid rgba(0, 0, 0, 0.7);
  color: #e7ebf0; }
  #site-footer p {
    margin-bottom: 9px; }
  #site-footer a, #site-footer a:active, #site-footer a:visited, #site-footer a:hover {
    color: #e7ebf0;
    text-decoration: underline; }
