- @page_title = "About"
.about{ itemscope: true, itemtype: "http://schema.org/Person" }
  %h1 About me
  %figure
    %img{ src: "/assets/about/jimmy.jpg", width: "256", height: "256", alt: "Jimmy Cuadra", itemprop: "image" }
  %p
    I'm <span itemprop="name">Jimmy Cuadra</span>, a <span itemprop="jobTitle">web developer</span> from <a href="http://en.wikipedia.org/wiki/San_Diego" title="San Diego" itemprop="homeLocation">San Diego, California</a>. I grew up in <a href="http://en.wikipedia.org/wiki/Los_Angeles">Los Angeles</a>, and moved to San Diego in 2003 to attend <a href="http://ucsd.edu/" itemprop="alumniOf">UCSD</a>, where I studied music technology and computer science. I graduated with a Bachelor's in Music with an emphasis in technology in 2008.
  %p
    I've worked with just about every part of the web stack, but primarily on the front end. I have experience working with HTML (and HTML5), CSS (including CSS 3), and JavaScript. In 2009, I started working with <a href="http://www.ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>, and have been really enjoying it. I have command line proficiency on UNIX systems and I'm a big fan of <a href="http://git-scm.com/">Git</a> for version control.
  %p
    I am currently working full time, but open to opportunities with companies using Ruby and JavaScript in San Francisco.
  %h2 Get in touch
  %ul
    %li Email: <span itemprop="email">my first name at this domain</span>
    %li Twitter: <a href="http://twitter.com/jimmycuadra">@jimmycuadra</a>
    %li GitHub: <a href="https://github.com/jimmycuadra">jimmycuadra</a>
    %li LinkedIn: <a href="http://www.linkedin.com/in/jimmycuadra">Jimmy Cuadra</a>
    %li AIM: JimmyCuadraWeb
