- @page_title = "Projects"
.projects
  %section
    %hgroup
      %h1 Projects
      %span Highlighted software I've created or helped develop. All my open source projects are available on <a href="https://github.com/jimmycuadra">GitHub</a>.
    %ul
      %li
        %figure
          %a{ href: "http://jimmycuadra.github.io/lita/", title: "Lita" }
            %img{ src: "http://f.cl.ly/items/0c271a2P3k2V180B1R0X/lita.jpg", width: "184", height: "184", alt: "Lita" }
        %h2
          %a{ href: "http://jimmycuadra.github.io/lita/", title: "Lita" } Lita
        %p <strong>Lita</strong> is a chat bot written in Ruby with persistent storage provided by <a href="http://redis.io/">Redis</a>. It can connect to any chat service and can have new behavior added via handler plugins. The plugin system is managed with regular RubyGems and Bundler.
        %p Lita was featured in <a href="http://rubyweekly.com/archive/153.html">Ruby Weekly, Issue 153</a> on July 11, 2013, and on <a href="http://www.rubyinside.com/this-month-in-ruby-peepcode-acquired-a-free-rails-4-0-book-rails-3-2-14-and-more-6156.html">Ruby Inside</a> on July 25, 2013.
        .clear
      %li
        %figure
          %a{ href: "https://github.com/jimmycuadra/pushing-hands", title: "Pushing Hands" }
            = image_tag "projects/pushing_hands.jpg", width: 359, height: 196, alt: "Pushing Hands"
        %h2
          %a{ href: "https://github.com/jimmycuadra/pushing-hands", title: "Pushing Hands" } Pushing Hands
        %p <strong>Pushing Hands</strong> is a web-based game built for the <a href="https://github.com/blog/1303-github-game-off">GitHub Game Off</a>. It was built with Backbone.js, jQuery, Haml, Sass, Twitter Bootstrap, and Middleman.
        .clear
      %li
        %figure
          %a{ href: "http://morethingsneed.to/", title: "More Things Need To" }
            = image_tag "projects/mtnt.jpg", width: "238", height: "170", alt: "More Things Need To"
        %h2
          %a{ href: "http://morethingsneed.to/", title: "More Things Need To" } More Things Need To
        %p
          <strong>More Things Need To</strong> records humorous Mad Lib-style sentences, based on a long-running joke between my friend and me. It allows users to browse the collection, discuss and vote on their favorites, and submit their own entries. Built with Ruby on Rails.
        .clear
      %li
        %h2
          %a{ href: "https://github.com/jimmycuadra/to_lang", title: "to_lang" } to_lang
        %p
          <strong>to_lang</strong> is a Ruby library that adds language translation methods to the String and Array classes. It was featured on the <a href="http://ruby5.envylabs.com/episodes/141-episode-138-january-4-2011/stories/1229-to_lang-a-ruby-interface-to-google-translate">Ruby5 podcast</a> on January 4, 2011 and on <a href="http://news.ycombinator.com/item?id=2095006">Hacker News</a> on January 11, 2011.

      %li
        %h2
          %a{ href: "https://github.com/jimmycuadra/jimmycuadra.com", title: "jimmycuadra.com" } jimmycuadra.com
        %p
          My professional blog and résumé, built with Ruby on Rails and open sourced to demonstrate my programming ability and style.
      %li
        %h2
          %a{ href: "https://github.com/jimmycuadra/bang", title: "Bang" } Bang
        %p
          <strong>Bang</strong> is a command line program for storing and retrieving text snippets. Built with CoffeeScript, Jasmine, and Node.js.
