- @page_title = "Projects"
.projects
  %section
    %hgroup
      %h1 Projects
      %span Highlighted software I've created or helped develop. All my open source projects are available on <a href="https://github.com/jimmycuadra">GitHub</a>.
    %ul
      %li
        %figure
          %a{ href: "http://eventful.com/", title: "Eventful" }
            %img{ src: "/assets/projects/eventful.jpg", width: "238", height: "170", alt: "Eventful" }
        %h2
          %a{ href: "http://eventful.com/", title: "Eventful" } Eventful
        %p
          <strong>Eventful</strong> maintains a large database of events to help people all over the world find out what's happening near them and "demand" that their favorite artists come to their city. I lead Eventful's front end team as Senior Front End Developer. I use HTML, CSS, JavaScript, and Perl every day to solve complex problems under tight timelines.
        .clear
      %li
        %figure
          %a{ href: "http://morethingsneed.to/", title: "More Things Need To" }
            %img{ src: "/assets/projects/mtnt.jpg", width: "238", height: "170", alt: "More Things Need To" }
        %h2
          %a{ href: "http://morethingsneed.to/", title: "More Things Need To" } More Things Need To
        %p
          <strong>More Things Need To</strong> records humorous Mad Lib-style sentences, based on a long-running joke between my friend and me. It allows users to browse the collection, discuss and vote on their favorites, and submit their own entries. I am the principle architect and developer of the site, which is built with Ruby on Rails.
        .clear
      %li
        %h2
          %a{ href: "https://github.com/jimmycuadra/to_lang", title: "to_lang" } to_lang
        %p
          <strong>to_lang</strong> is a Ruby library that adds language translation methods to the String and Array classes. It was featured on the <a href="http://ruby5.envylabs.com/episodes/141-episode-138-january-4-2011/stories/1229-to_lang-a-ruby-interface-to-google-translate">Ruby5 podcast</a> on January 4, 2011 and on <a href="http://news.ycombinator.com/item?id=2095006">Hacker News</a> on January 11, 2011.

      %li
        %h2
          %a{ href: "https://github.com/jimmycuadra/jimmycuadra.com", title: "jimmycuadra.com" } jimmycuadra.com
        %p
          My professional blog and résumé, built with Ruby on Rails and open sourced to demonstrate my programming ability and style.
      %li
        %h2
          %a{ href: "https://github.com/jimmycuadra/extractor", title: "Extractor" } Extractor
        %p
          <strong>Extractor</strong> is a JavaScript library for simple module loading and managing of the global namespace. Built with CoffeeScript, Jasmine, and Node.js.
