- @page_title = "Résumé"
.about{ itemscope: true, itemtype: "http://schema.org/Person" }
  %h1.headline Jimmy Cuadra's Résumé
  %figure
    = image_tag "resume/to_lang.jpg", width: "256", height: "256", alt: "Jimmy Cuadra giving a presentation on his Ruby gem, to_lang, at a San Diego Ruby meeting", itemprop: "image"

  %h2 Skills

  %ul
    %li Expert level programming skills in Ruby, JavaScript, and CoffeeScript
    %li Years of experience and thorough understanding of Ruby on Rails
    %li Good understanding of Shell (Bash), Perl, and PHP
    %li Experience with front end technologies: HTML, CSS, Haml, Sass, jQuery, Backbone, Underscore, and JavaScript templating
    %li Version control with Git, GitHub, and Subversion
    %li Experience with test-driven development in multiple languages, test automation, and continuous integration
    %li Experience using virtual machines with Vagrant, VirtualBox, and VMware Fusion
    %li Experience configuring and deploying applications to Heroku, Amazon Web Services, and DigitalOcean
    %li Devops experience with Chef, Hubot, and my own chat bot <a http://jimmycuadra.github.io/lita/>Lita</a>
    %li Command line proficiency (primarily Mac OS X, some Linux)

  %h2 Qualifications

  %ul
    %li Excellent writing skills
    %li Highly motivated and passionate about good software engineering
    %li Self-directed and self-managing
    %li Interested in learning new technologies
    %li Active in the open source software community

  %h2 Work History

  %ul
    %li Change.org (2012 &mdash; 2013): Software Engineer
    %li Eventful (2009 &mdash; 2012): Senior Front End Engineer
    %li Einstein Industries (2009): Production Engineer
    %li Miva Merchant (2009): Web Developer
    %li Rady School of Management (2007-2008): Web Developer

  %h2 Education

  %p Bachelor's degree, University of California, San Diego

  %h2 References

  %p Available upon request.

  %h2 Contact
  %ul
    %li Email: <span itemprop="email">my first name at this domain</span>
    %li Twitter: <a href="http://twitter.com/jimmycuadra">@jimmycuadra</a>
    %li GitHub: <a href="https://github.com/jimmycuadra">jimmycuadra</a>
