<div id="projects">
  <h1>Projects</h1>

  <hgroup>
    <h2>Websites</h2>
    <p>The following is a highlighted list of websites I've created or been involved in developing.</p>
  </hgroup>

  <ul>
    <li>
      <h2><a href="http://morethingsneed.to/">More Things Need To</a></h2>

      <p><strong>More Things Need To</strong> records humorous sentences with a very specific format, based on a long-running joke between my friend and me. It allows users to browse the collection, discuss and vote on their favorites, and submit their own. I am the principle architect of the site, which is built in Ruby on Rails. I worked on all aspects of the site, including the Rails back end, the design, and the AJAX-powered user interface.</p>
    </li>
    <li>
      <h2><a href="http://eventful.com/">Eventful</a></h2>

      <p><strong>Eventful</strong> maintains a large database of events to help people all over the world find out what's happening near them, "demand" that their favorite artists come to their city, and interact with others about events, performers, and venues. I work for Eventful full time as a front end developer, using HTML, CSS, JavaScript, and Perl. Among more general site features, I am responsible for the mobile version of the site, Facebook connectivity, and the "Hosted" platform, which allows clients to embed Eventful's data into their websites.</p>
    </li>
    <li>
      <h2><a href="http://rady.ucsd.edu/">Rady School of Management</a></h2>

      <p>The <strong>Rady School of Management</strong> runs an MBA program at the University of California, San Diego. I worked on implementing a new design for the site with HTML, CSS, and JavaScript. I was also responsible for content maintenance.</p>
    </li>
  </ul>

  <hgroup>
    <h2>Open source</h2>
    <p>The following is a highlighted list of open source projects I've started. The full collection is available on <a href="https://github.com/jimmycuadra">GitHub</a>.</p>
  </hgroup>

  <ul>
    <li>
      <h2><a href="https://github.com/jimmycuadra/to_lang">to_lang</a></h2>

      <p><strong>to_lang</strong> is a Ruby library that adds language translation methods to the String class. It was featured on the <a href="http://ruby5.envylabs.com/episodes/141-episode-138-january-4-2011/stories/1229-to_lang-a-ruby-interface-to-google-translate">Ruby5 podcast</a> on January 4, 2011.</p>
    </li>
    <li>
      <h2><a href="https://github.com/jimmycuadra/changesets">Changesets</a></h2>

      <p><strong>Changesets</strong> is a Ruby on Rails application I built to facilitate my work with Subversion at Eventful. It helps manage changesets in a workflow where each changeset must be tracked and merged individually into a staging branch. Changesets sports a simple, all-in-one AJAX-powered interface and the ability to integrate with an external issue tracking system.</p>
    </li>
    <li>
      <h2><a href="https://github.com/jimmycuadra/jimmycuadra.com">jimmycuadra.com</a></h2>

      <p><strong>jimmycuadra.com</strong> is this site. It is open sourced as an example of my code style and ability.</p>
    </li>
  </ul>
</div>
