<% @page_title = @post.title %>
<%= render @post %>

<div class="comments">
	<% comments = @post.comments.order('created_at asc').reject(&:new_record?); unless comments.empty? %>
	  <h2>Comments</h2>

	  <%= render comments %>
	<% end %>

  <% if @post.comments_allowed? %>
    <h2>Add a comment</h2>

    <p><em>Comments are rendered with Markdown.</em></p>

    <%= render :partial => 'comments/form' %>
  <% else %>
  <h2>Comments are closed</h2>

  <p>Comments are automatically closed 2 weeks after publication. If you still have something to say about the article, feel free to <%= link_to 'contact me', about_path %>.</p>
  <% end %>
</div>
