<%= render @post %>

<div id="comments">
	<% comments = @post.comments.reject(&:new_record?); unless comments.empty? %>
	  <h2>Comments</h2>

	  <%= render @post.comments.reject(&:new_record?) %>
	<% end %>

   <h2>Add a comment</h2>

   <%= render :partial => 'comments/form' %>
</div>
