<%= render @post %>

<div id="comments">
  <h2>Comments</h2>

  <%= render @post.comments.reject(&:new_record?) %>

  <% if current_user %>
    <h2>Add a comment</h2>

    <%= render :partial => 'comments/form' %>
  <% else %>
    <h2>You must be logged in to comment</h2>
    
		<%= render :partial => "partials/auth_links" %>
  <% end %>
</div>
