<%= render @post %>

<div id="comments">
  <h2>Comments</h2>

  <%= render @post.comments.reject(&:new_record?) %>

  <% if current_user %>
    <h2>Add a comment</h2>

    <%= render :partial => 'comments/form' %>
  <% else %>
    <h2>Sign in with an existing account to comment</h2>
    
    <a href="/auth/twitter"><img src="/images/auth/twitter.png" width="151" height="24" alt="Sign in with Twitter" /></a>
  <% end %>
</div>
