<% @page_title = "About" %>
<div id="about">
  <h1>About me</h1>

  <figure>
    <img src="/assets/about/jimmy.jpg" width="256" height="256" alt="Jimmy Cuadra" />
  </figure>

  <p>I'm Jimmy Cuadra, a web developer from <a href="http://en.wikipedia.org/wiki/San_Diego">San Diego, California</a>. I grew up in <a href="http://en.wikipedia.org/wiki/Los_Angeles">Los Angeles</a>, and moved to San Diego in 2003 to attend <a href="http://ucsd.edu/">UCSD</a>, where I studied music technology and computer science. I graduated with a Bachelor's in Music with an emphasis in technology in 2008.</p>

  <p>I've worked with just about every part of the web stack, but primarily on the front end. I have experience working with HTML (and HTML5), CSS (including some CSS 3), and JavaScript. In 2009, I started working with <a href="http://www.ruby-lang.org/">Ruby</a> and <a href="http://rubyonrails.org/">Ruby on Rails</a>, and have been really enjoying it. I have some command line proficiency on UNIX systems and I'm a big fan of <a href="http://git-scm.com/">Git</a> for version control.</p>

  <p>I am currently working full time, but open to opportunities involving Ruby in the San Diego area.</p>

  <h2>Get in touch</h2>

  <ul>
    <li>Email: my first name at this domain</li>
    <li>Twitter: <a href="http://twitter.com/jimmycuadra">@jimmycuadra</a></li>
    <li>GitHub: <a href="https://github.com/jimmycuadra">jimmycuadra</a></li>
		<li>LinkedIn: <a href="http://www.linkedin.com/in/jimmycuadra">Jimmy Cuadra</a></li>
    <li>AIM: JimmyCuadraWeb</li>
  </ul>
</div>
