.CodeRay {
  background-color: #2b2b2b;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #e6e1dc;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin-bottom: 18px;

  pre {
    margin: 0px;
    padding: 0px;
  }

  td {
    padding-right: 15px;
  }

  .predefined,
  .keyword {
    color: #cc7833;
  }

  .integer,
  .string,
  .content,
  .regex {
    color: #a5c261;
  }

  .content {
    background: none;
    box-shadow: none;
  }

  .local-variable,
  .predefined-constant,
  .symbol {
    color: #6e9cbe;
  }

  .function {
    color: #ffc66d;
  }

  .comment {
    color: #bc9458;
    border: 0;
    border-radius: 0;
  }

  .tag,
  .doctype {
    color: #e8bf6a;
  }

  .attribute-name {
    color: #e8926a;
  }

  .constant,
  .class {
    color: #da4939;
  }
}
