.CodeRay {
  background-color: #2b2b2b;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #e6e1dc;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin-bottom: 18px;
}

.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

.CodeRay td {
  padding-right: 15px;
}

.CodeRay .predefined,
.CodeRay .keyword {
  color: #cc7833;
}

.CodeRay .integer,
.CodeRay .string,
.CodeRay .content,
.CodeRay .regex {
  color: #a5c261;
}

.CodeRay .content {
  background: none;
  box-shadow: none;
}

.CodeRay .local-variable,
.CodeRay .predefined-constant,
.CodeRay .symbol {
  color: #6e9cbe;
}

.CodeRay .function {
  color: #ffc66d;
}

.CodeRay .comment {
  color: #bc9458;
  border: 0;
  border-radius: 0;
}

.CodeRay .tag,
.CodeRay .doctype {
  color: #e8bf6a;
}

.CodeRay .attribute-name {
  color: #e8926a;
}

.CodeRay .constant,
.CodeRay .class {
  color: #da4939;
}
