:javascript
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
  (function(d, t) {
    var e = d.createElement(t), s = d.getElementsByTagName(t)[0];
    e.type = 'text/javascript'; e.async = true; e.src = '//platform.twitter.com/widgets.js';
    s.parentNode.insertBefore(e, s);
  })(document, 'script');
