%footer.site-footer
  .bucket
    %p Logo by <a href="http://stephanielucido.com/" title="Stephanie Lucido">Stephanie Lucido</a>.
    %small
      &copy; #{Date.today.year.to_s} Jimmy Cuadra. All rights reserved.
