.about
  %h1.headline Contact

  %ul
    %li Email: <span itemprop="email">my first name at this domain</span>
    %li Twitter: <a href="https://twitter.com/jimmycuadra">@jimmycuadra</a>
    %li GitHub: <a href="https://github.com/jimmycuadra">jimmycuadra</a>
    %li Matrix: <a href="https://matrix.to/#/@jimmycuadra:matrix.org">@jimmycuadra:matrix.org</a>

  %p If you want to contact me privately, you can:

  %ul
    %li
      Send me encrypted email or documents with OpenPGP.
      My OpenPGP public key is listed below.

    %li
      Message me on the <a href="https://matrix.org">Matrix</a> network.
      My Matrix device keys are listed below and signed with my OpenPGP key.
      They can be used to verify my device keys out-of-band.

  %h2 OpenPGP public key

  %code
    %pre
      :preserve
        -----BEGIN PGP PUBLIC KEY BLOCK-----

        mQINBFXZKh8BEADEe5XxWpqbaX9J1dyIDIhFdGJ/24UH88Chi3ulY0tiOMXcg3uK
        /7wWOwnkNTFUVrOpK9YeZIjqCvPAC0hHyz2wbeKkBT4zEKsxPZtxoEsmIV5UOz/w
        1EQ+Rw2GvcyegebBw2zXac+5zNl0xPNOhcc22P96fju/oWj5xEn+GzqUsrF8i+Ut
        snW5x6HSVqFFBsdrE8GyYtyKMTMzmJ5FuqiYKpNRhoRE+f8tOmAWLB0BeURygA45
        9uNhKJnPv2rcWQFm4GV02XCmRVro1JNLul/ek84bNa9Iuk++N4NTbrPcdeR2JCKu
        ws10oZyysUTQqAbjSw7aHERDXopr4/AqQ87lGG1hjfvew6nvfE8yrLSkEQ5FZnQJ
        QWPJFQCcrn41qWP+4da7b6WpQgoJujii7WV6Vs3L8LCQFenOPWs1kAMIqTpXzzf5
        jeCExwnd2DUaALhc7TH5OHvJcob4TB4Z6QdmwX123HXKp9sN2aWhZp8fSeAGQ+R3
        DZ7uzScXswjjkAAiZ0a3kYyqfjRHQTU10ZAKyhgXKz/urpfRXJQbn2Fm7HUB0g6c
        cN5JB6NO3ON2yKKFQhtazimiZMmaCY934jzdFQk7AnuF9gl2eIOYc112OJgxTEYi
        d2eoXhPRdrqCY0RiuEgwTcU2AbSpUbxcupuGdiHQBiuM1cR2TGoXNxL8EwARAQAB
        tCRKaW1teSBDdWFkcmEgPGppbW15QGppbW15Y3VhZHJhLmNvbT6JAlEEEwEKADsC
        GwMFCwkIBwMFFQoJCAsFFgIDAQACHgECF4ACGQEWIQQRz5OoPTM71+z5yVHiKPQ6
        m/a1XAUCXLQ4fAAKCRDiKPQ6m/a1XA0QD/43A+BLfZJtWA7ILS3hNDLhx3f6H/Ts
        kP7iMuS+c5zBZTfHaAg5C/rYWfYL+jmhOgz0WZQkX2yqgsFOw8yO2FasjCBBHUx2
        S7BrEUVRqYrRZxkJbdGbTdZg7rhCH8cNMgHAHlx3q8CQTmZgtktENWvtUxNUbr5n
        03RTTa4eFKNe23gJVe79QkhjotIKYPZsSDFIKmK/aEelnbm2Rumtjo15Ik97merz
        foOybKQmTNlNFatYzcPyMxyVI+sDxAHXEPsODe5uv6WGO+7BnLdJAcepu+E7iDzU
        4r35og8kLUnxTz/zxjgsb8qvs/n//Ap9Hf9J3NjmyPvFv/1fHZN18O3zDWYJhvgd
        zx5iiQWpBXlsNabG4see1f1Ue+vuYVwof+74u5NCONaGT0SrjiORv+lJ31gs/ibB
        a5jTzqjgK9EBiMsmQ35YY9t6fJTrS9yjExh5xeK0bxSYoBN0P+Dy+ZIz0AtZdifG
        5NLXWC/BoRhdxvQIk/6cGzQK4jlmC0jT0W9nwKTzz6ZXtMPkXVmbfNcx3vNxsbgy
        oaDTUBy5st3kVEy9IZfk3z1A94YfXmayYPvmHiNRbUYoZ7QFgkGLsRXFNLRvfMNv
        DRleoZFlsNpFiVDekzCYFokC1JQHfvdVOBZjw7JzkEyxIsLcL6L7gemLPYslumEy
        3RBolGfsTYEbT4kCIgQSAQoADAUCVnG6XQWDB4YfgAAKCRABMlECGHPpj31jD/9A
        Ju5zirhuTcspSDOe+kyvFkUR4ethGo+xC/q25CuOmaUM4GGwGDcxYWK+oVN6DmrK
        homIxwj6lHWmJ3/R9j1X0dS5h8jWLb3XFtNNOmR7ghjMflWShMx0IIx0P0i9O2Se
        /wQAbSqS6WLwzrgN9pPZDwKfAUwv3O0FXZ0efCE7VclSjQ6aA6zsa/I1rXVY+DJ0
        3dVDPDUIlClFI005SIdtuNV6qyzD/W50TqWCvgaC2LltUN5eMx6WzcLPUoiLS6kX
        xZT5pd3GIBsqK2lfFwo3a9SilNMp/SFSB2mAMT5rvr4yj1epMLQCit+NTUWwy+i8
        cDvqFI1G59chQlt/hzEGBfQ8gfzuphX6pEBB84iCE9NcDJNf/TXgflkf/m560T2V
        Io/3yB5mtF5n96j/ljGNdYSO4MwJfZyRJ8gmxPaSHpZMvEmsjzrHsiqGYRMn33kl
        qpG8iIPOFBeh60oJkejIPKClALHsl/PKjJzhu6TDaH1LjFljXUaJnb7iwmGmxmm3
        6UGlJydbhxx8TIK9acGbHntMSQtNFKvXXxLBTM3WHZhj1jV5pi3HQExwzb+6P0X7
        ep6K80u5yql+A3nv4re67m/GzCcdPBx2C39zaNahhLKrUGMrB73Itleo+9Ji88+L
        HVrp4DeUvkIfxDIbHdNs3rfCgRSzemov/3/ZvRSrLIkCPQQTAQoAJwUCVj3S7QIb
        AwUJB4YfgAULCQgHAwUVCgkICwUWAgMBAAIeAQIXgAAKCRDiKPQ6m/a1XOEGEACf
        ZRR7ppaLdzTYZruiMZPpKGRm5z5ISxLeqc6rKevr0u9WjQDFPXSMkG2Ys3lsaVo6
        18VIXX0X/CmU//Wiu7Sq24yS026phe6lB+HAQgSu7yYa14CQwXgP8fig/RUQWxDR
        JRjfbqCz4dMxoHorzq2R24G+phIGkhxB+UIK88AxsqFS2j0zwK9sDSBdQmp2bgmF
        71qXMTAGFu/jPiIcoUtJi/3lJtCQrvWslRTtl2L4A1JnhufuW36YYwJC5l7iYhzI
        mg6t+1qjDeN5I7XvpQseirUnh3v30DtfnH1IHyvu7CNFppfH8zDVKkREXz0AoLbL
        jsF33hpQo4QAs8JCtr/gFYXC3r1LnbXoqBwdQq5oEaZOqqvSpPUPQC23gaRRXLsJ
        N3jS00hOsQ8KN6cGWDb+qrcTArLCnoPozn+NYtaNrV/0KUYl3zn5jnvcsbWjornr
        QynZ+vqBhrKh8uvppsNXmoWwI55P4ZkC/FXm15BQzjkGZZzNYdDRcIMDQmr+0CIF
        GNOdxRAdlrn/5AQgYYaTpFsp4RdA73MwUsdhyjXEQpZba/3+6sqWvZUZtveZjv5E
        wBFVUuZAN6ZjjIjQpIvNczfhdAKOmDCAfeQXc8lQ2QBgf74doZ9iVRxRAV1slHSs
        07k8RfRiWK5RyRFo7e+nfeExsKJXBiYVan5V5OOap7QkSmltbXkgQ3VhZHJhIDxq
        aW1teWN1YWRyYUBnbWFpbC5jb20+iQI9BBMBCgAnBQJV2SofAhsDBQkHhh+ABQsJ
        CAcDBRUKCQgLBRYCAwEAAh4BAheAAAoJEOIo9Dqb9rVcGjUP/1IQLpJDeOdrykNI
        YTwu0EofyvCzfbeq3pPSrPGG9rXAiOjs50Sby8yvvoIR/cDCYwk+dMEv/bQF/cNW
        3FFv4Auk+ESizUoWoETklN8tFEQJtG2l4zdR40TMf38Tn3mFZctx2d1d3IP5Kwyn
        VQ2Zjk7av32T0ywSOZk3u2iEOs9mhz1G/5H1KeFxgnYcDRmpTzF2a5BRtIBrq4Pe
        kpiz4lsiTJVjeI/Irx93RdheKrnzsq2AE8+0/8xDLJ3UZSKlAPIomTLtTyWRDb60
        wrAkAIQmN0M+LK001gZk4bigqBp7BuhtdR33dlTE1kFNmX0/ZhSxEKaCm0VTfOFn
        VhTm8Mp/GH2y5Kf/rpBpWq/JRJNn9SMq+7L6XaPU33yUyYQ+17dcegQqfnnmINUU
        nwP1Woh4cRmfvkg9Hiztt26APQ5EtvWehqpenC8fQ1aGw7k6xyjWmPMK0CbWVHZS
        UPovdBf3eWXVSmFo4hhwtb67s7pBr1aRZ8aObIqdcnQd8jKed7s9BVUhaTD1n0My
        UUS0LhE50On9Fo4tP/PEGvNxBdX4QE4iF2WvJhBX9/i+x5Re2X+2x81p/WeBKkb4
        46khMC7OffyexylLChcGJcW4IxQFtrvWw8D5GmD5+RnOOzzg1wkF9qI+bCwhowh2
        yqjaLRmQVdDQi6RPrwmIIsF26SgiiQJOBBMBCgA4AhsDBQsJCAcDBRUKCQgLBRYC
        AwEAAh4BAheAFiEEEc+TqD0zO9fs+clR4ij0Opv2tVwFAly0OHwACgkQ4ij0Opv2
        tVwPwxAArd/vNjSwXd57ihiI81+jRftVvM8neCmM/0n254pn57JXLapfIQYnlkmI
        TZAuYn0GqcI2VrG7AD5ojDGC9BdYAXHcc3vngoWHhyYkPo66M/r0iqSJz7NU+kdH
        SttqeNiXb7piLGsxOlw0dDIwNeUT7I3eoFHKc7enIDn3MExMmosZj3oAQRdHYldz
        adhrZ0OtHREuj00x02tvrYH45nwzpD9l7tyfdFCMsIJMPrpTXmeqDPI3MbVFMAt7
        +yhpqdid8cOzm5Ox3uMvi6oqA6lGLE3/eCpF1YAdoO94/PA1n0StcMYthU5nmtFY
        uENyO3VE9tDE3CiPH9YBXVH6iuK8fbe8FSlC+IRcEOXH2zE0o6K/r5ucexXTD08/
        cSA1VJaP/fA2JhiwlrsndI6p2km6le9EAb8OW8uiUyaf3kRKM1Sec4g0aHBiS7Tp
        aYCoJWEXifYEFIyat6OfWmDvzOn8KjtjxLyQ08B+agEjO9NWYzxsdpkPRRcQ6W59
        qdocCjkgvy9jPXGfvwLOXCVGCzWpxqofnMBmlEt63cliYtDFe71TaVHLZbfMB9Ex
        i2V7Don92xpTN7IV35D2GNqGANaJLWP2DcHoSUKqXWN8K40saIWKE/A2oLGQduuK
        KUIH0qXCMkRfxH9vsWLLiGLqaa6UUKQHpQ94soaMPj7xf6yylyKJAiIEEgEKAAwF
        AlZxul0FgweGH4AACgkQATJRAhhz6Y9YWQ/9FkmKaL9YpqnTErKtmttqCel+maDs
        2j1C4n5PFzyibpHlJvRdRG9oq00eQEFsv1AYCw2203g14B+Wmya0Md+LJ64r/+ik
        RTdMvm3gonDmxb6iGDkvfINgD02EhDhRBCHGTMlraxar5DdBxDSP21klZi9pTIs6
        DQYHnjYK47JuIe47tJV9WY39qJapoGFpq0uAmBm5+zNuBgqGboTX8cREHvBZy6m4
        vpzyDPG5zwzTw7ovvjar8qrPF/1Ao4mdr6jQVA6nvoKxOvzKHtcH+5gP2rfEt/Q0
        fDsLiZxG0NHlNggN8GoYwXvmm16oLpYlqcef3ZIcqQo8nG0xkdJz2vuAjDZ4SYN2
        ANsKzjlZp5k+MgIVSy3Km5gCCVQYndvXg0Kxdqqnnms/LiMspELqbFE3r3FjdPMQ
        fBMQiMRN8jnyBf32SLv/KwXZk5mqvclnfVfc+dFqZIe6te4k3M3Gy0c0ZSmwGE6B
        Wi6kNZPIhVjmsPn58hSNBFhzwgDjB+0IGbQUusWwzwcFYkhQFtuR+7TtDlv74dFS
        EZiqCL9+kPsFVzaFkRdh62jmSiuOPW6X2pn5CL82tTRU3Li8ZRN5sZZQoUbyeT6k
        mqfJOgkiSXOYzoLWXhgJNcD4nGbDHT9add2Je+8SXIh5RMaiWBSvJQkg/l9waS1V
        cU5qosnxAxS/OmCJAkAEEwEKACoCGwMFCQeGH4AFCwkIBwMFFQoJCAsFFgIDAQAC
        HgECF4AFAlY90u8CGQEACgkQ4ij0Opv2tVxnnxAAiWlu+X7s7uWTOWuI6gzkox0g
        Y5bNBGTxplCYfEFfyKUB2mRd/wWuxbomFejn1IvIHeSVNZ9oMLERlsAwE1TgDvNJ
        BNbWTiRC5l/wqRdjS4e3RSt+LkGxpfiukM1MvGq2pxNSGPpcG4zOTHC2xCokcq3p
        OKL0Pg0iw4jP8Rm0dNPF+3yfaAxrDFIKj/ezRoDzPfLEdOm4MXKjVA9RKvZKhLip
        VOyHszPJVnk/3Db9o2mMWpUjccIsMt6L/KDV3eV6M3qC2hKK7hM+HSfiyyhyS+1f
        CHSb8AEJsm4idAhdXqjgz8LueirWfAeGS87ORfAp3dxK4AjrptwIUp8WVDvXGPUP
        1Bg6syip4o4xx/1uEYPR9/m7ID9biMQyiMmpfflYEVysZWm5L5W4xxwu6qttC6Ae
        Qrkfroef8GuROtNvODv2KD3ZiVH81l3FW+a5ZahLYu9axu/y82MwLCdrc77jcwhC
        iLmDriDQRtr8bxCMFNnpiGpKuut4BpGvUPnFqAcz8JVr8nZqbPmh3efDJJHiUx/p
        RqLak0oYNhBhCPEhhMMtAxllb4gdVPvZxSSiQjIYm5La86c5uLK/ghf6R/svbWi6
        glJmyL3AcC8l4TonICqWJ8VRn8BNvpeVJW9QaHcL4YYcNVcVyiTxFDBF840uNn+v
        LamdjGFZoK+bUZf6ZJi0JUppbW15IEN1YWRyYSA8amltbXljdWFkcmFAa2V5YmFz
        ZS5pbz6JAk4EEwEKADgCGwMFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AWIQQRz5Oo
        PTM71+z5yVHiKPQ6m/a1XAUCXLQ4fAAKCRDiKPQ6m/a1XK8XEACOTbC1+DseHum3
        oR+8Ns6B8x0QRIdPzgBh8VzCnuFiMKgKYKpZ82O0egS406hBASMobjQQBqNhleFM
        rk0RFQhBSejkf+yPHWPubBdTW67K0FyjNLhCyXlMDf/c3G9Kwigxw3ro5TvbfC75
        4jmWs7Tvw5pRpBalLZoz3jjV9/8LzE/gHMS/Kfg87W0O/+03WhTiyKKike38f63I
        vKubbK1StUsGOnyRI/WPud8X1E09ZcUoeiAXvQYOC45Z1LxR2rJavrbi1UmpbVM/
        wg4j0vwtRHiiCI84WB+xLOHXEAWuzpZpRw2TMYi9SKA1ykpoWPUwAuyxiy536MRG
        /TxI/gbZoJ1ABMS7eb5bk/6mIrIoo3mTeyRJ8bAhWzwHhnNof8m45CWWiAgvSKXe
        WT8lBSwSqJrGZnYLi906EEioewlmGhSYhN7O2vPUIT7V9wwhnMW56PeCnmYCjL5P
        NA5fH32+PuAosocleRkTYd9v8jaYkGwRzaMIulINNaxJsBbV9KNrDSrq1DlcJAde
        De7m1UWZaDM9po2r1lEPMldWXjba6MsTmQRf6QFJVjEMSZZxekfTr6yeq0cSxiG3
        Urk+/UnYGfiI9a415j1WmALr94x+M7U1VIMU4AymnIcNRy3CM6FsGLjR4Pwxj4H4
        z3rbbDuaBhf5oaM77lft7torQIQ5xYkCIgQSAQoADAUCVnG6XQWDB4YfgAAKCRAB
        MlECGHPpjx1ZEACNI2sIUvwLaVBZFYeW4+Q+q8pxrDIPR4kzBpegfECXn83FXcWT
        6RTeG+qKL5JiD9lueVFBx3tx6gFZpbQwUODiy6jC/3vJ9krd5j81J3VnJfFsmPzD
        J6+/hDm1ossxxUK9fdy6HfAe/ENvo1Ee2aJdE4GKswImOtd4xwRvXYnn6LJ7MsDG
        kA4IZ2q5UL5rFI5kQLfg9/u6fTK/aGV8VRRu4o9P4kshdDIOPhoHQhsBykk81/lV
        f+t8CPZVpNc60Y1p8Ur9EIM8o6wKugQ5P2K7/MFRaPbCpX1kCyIASmd7S2uah6kU
        PccWyZCICn2YNTiDlaqW+EOAhOG9gVfqOEj1UVoCz1hDQI1VdNngMfLs51OmKA9t
        VddbyzQZa+Eg+8LCXPvJjdqZgfnD9K7knlfRqo1afX5BS003c8PuCcjurDhoN+Ho
        kepBSl3015UIjdNtZfO3uc0GagfSm/KkPoROn8hJjYK2Fx4Nrq9FhYudV3sTe+Om
        SYu2O2Nt5dOFiWWMKQpV54XS9lKTdp9ej8PlYuFVYgQ4iSifhe4yDcVNkF6qVZDk
        ZRJE37R04Kkh2QVp6mRmDlDh3slFrm1r3Bv7r2SrlVfT9MRsLM7PB5otDbVaCLeR
        XNl3HRW6jZTq7XymTcoVi67ADuauroQgD5MMwL4bAke3DFwGcZGvQSnIKrQpSmlt
        bXkgQ3VhZHJhIDxqaW1teS5jdWFkcmFAaW5xdWlja2VyLmNvbT6JAh8EMAEKAAkF
        Alnlob4CHQAACgkQ4ij0Opv2tVymrA/9GpZo6ivd6lyPmbgFJ+qTbbnts7Iy/2X8
        C79ioAsSiFnWFmiO3lsXbdBZCeNPbWJDW20uQXtVcGJqyD1Xy+LfZhxq4Ynhui1v
        PhYadvWaQdoFMQfJBfcwN64FYGxsfmN2yFAUozYVkE5upoiMoAf6lM/u0AzLGmth
        wXh0dj5iXkopxFwnueSgoWxVaS2Rx/lq+Yy+E5OpA4XyK5qkdGcjQfbD7Gkw+hcT
        udwP+zf711mQ+InQa4ENMmQPyqUpd6/kqCs8htmyt012ZkDcSXdJz3sI+WUD1a82
        aortg7P+aYChJxczEMmq1OTYycXhWgPXOsZ7oHX5sJFjvvX0t5bo63AXFnKUSD3n
        RJNi6IqmFAGmMuyoznrbY+hiZV3fddLuB9rYZjDwYym4itYGC0tbNjRv9DhU5qWi
        Izy+MsOeDaARltt47puRUeyCdMycy1TC6HAulb7UppEmLK0om7Z9lzIB98N5i/ub
        gOmaRWoWMgN7rdIwv14DNUOGoT7XRQdDmzFDI2MonEPFO2BNAGbvqaVSJefiTvtX
        dU69VRihKJeeOGeQ7dQURTDkcHvqIYArSjtzgcrSdXBT3C/tsRSuPnO6aQj5rVBs
        31Fv9uQv877inWeSIWYfbSH8I/Bbhv5aqEyvLhfm/8B/Kz6nD2V+u8xOJrvIcx1q
        SdUtZ8fOtniJAj0EEwEKACcFAlY90wQCGwMFCQeGH4AFCwkIBwMFFQoJCAsFFgID
        AQACHgECF4AACgkQ4ij0Opv2tVx6WQ//TeMrsBDftsF6PHvQRV37qOcq7JBLHET5
        FTtjJD/L+rPMd+eHyuJmZ7pXX+eKwBL+oJunF4MscfSIsbGuyw/HMqEW/6UiP5dh
        o9gBAqr8m4JsaMEE4JHuzj7c5YDJQAh1isW0YL5+EayxQ16w+sXaS1O1rVf3UMzl
        jh+ABzENUekB3tkZ1zUK3WmLajaz7vMiAaCIMlzaPOEoRY0aUiiUtZ/+0iVdkVJb
        Y+MVjMciUn73TymlTfAAXg0L9yWTDVzi25YADh7jfFZ4nWT+bkOqMB9kEx2ZiRht
        lGf76HhKfrbGUnX76ZEavfzUahOdMYJpWR8G/YcFVHn24o9YVDm+U7pjSSrMoGPw
        SDvh7IiZx2zKGnFBQ5eb+If8ZDm+Cc+J3QLU/dbL7E4uQgA/crhKlvLtrbDza68h
        P25XtBtFJ+BiwiGyO+/77dSB3CfO7x2ctUOe4h1bgvaE8l/jS9kG9bA/vCfJGaAG
        s/4+Ut5ErBrfSUz1LYDk6ywhYGjTlj+SYH+ooLJAxW4O8v1pE+oOzhM/SzbyE6Nl
        Sy9CuhLOBzmD8SywsOrl3orR9JU7mmpJrdAXocSzdBEQiAQzmQvJ/ODx2IYBPu2n
        Gx+MUagml+6dkba0vCiM/VYKC8kqDIw9f9EbcCk+26UYXmdIloNUcK1wP8HYryQE
        7DZZHrWrveCJAiIEEgEKAAwFAlZxul0FgweGH4AACgkQATJRAhhz6Y8kHg/9EDZe
        UzDptgTIfG8yQxHXUDPbiLoCRzgRDkWT6uDYirk0TWLOlMcLB5ZlZRzR5ryGWEy4
        h8YATMzi6wKueG63cslUGkuCajQJjVIcnkr/4pNBW6ljvKGeMgyqsU6LmTdlFoG0
        r5K/o6mpDJQ0y7Cfq3yFGc+HsQnw8YjywJYx1tLdfdPRj4VQMK++2+9Lw8fE3+KE
        5CdNqRK8jHJrGA+h/6PEr+zaqnFYYwEUMqUnjbto7Hmrmfv2plROQXNYOAF6VIW5
        jl6H5tVcM05KCVBewoyOSSA8YneZz+zCcquf2QybQXgZfj18rJIgMQafXopBXiPr
        sZf8+3JZAI86lF1nWEwMPRgJXMpyDry4hMdSsyhzZYSmA488q2ei8FjoIDbtH7HC
        2j0l2hpk5/ervI9+KGm3ZbQ5v7b6TMzYXcyDNvQL8OGlJmNd6SzfPhsHYyHOEn38
        macgKq+PhrVHgHUGumziWTOHIOHcJHmN+2NQP7a4LlbZATEbUibDSvfhyc65KJVI
        oQAk8rlPefHM8ocBgj/QIZB4pKBDSODhxtgW8r1PobKRQkJVbHX829YKdD7vLN6m
        qzsdk5hJq3XHZpYeJ+fzgKuOyMiCdBYzjrtj9FtqXYesEote8LPGCH5Rjksu4T4w
        3dC7NNM323zR+SJX15vHLr3/CjvzapyymY6au2m0KkppbW15IEN1YWRyYSA8amlt
        bXkuY3VhZHJhQHN0ZXJpY3ljbGUuY29tPokCHwQwAQoACQUCWeWhnAIdAAAKCRDi
        KPQ6m/a1XEqHD/4m3ctej9jZE56hZ/GP/m1wOwI+irvgP56cWDF9el6yj/9O0Nrj
        lXsPVhYcUvvpmA3XrDykLdl+kRyHOO2pPTFVTgO1K4Pcf+nW7KTjDZr2xfwxzZTW
        ajv8/tY0oR+EgQCwnTJseq60Qjcq8RD/HDuGd41BQBZUfPxM9X2BMpCGmRxc5Y0x
        LCs/Gy+3zed9UJcepSkfS/QvDYV/mf30O3/bMheo4AqIQIeQVYK0CB2AAER1RNJl
        eTnMK3x590jn8OpXi+RvH9Dlm6R4xrzcxbAXM1rWKHwNLxujadxrB8vpGZ63LxK7
        ruELbH+BAymXsJRcb5y+Uu2OQXFWVTydasMKQ08GHfzOJdkbUrINZ2XcNQFN/Me/
        HIuvX7cNA6TuGK1CyBQWiLWjqlfa1CtJDi0hP85vgWCubHRZ2jCKHIMnIihjsGua
        V32E497+0gAald/5q1Sx6CK+u481uCvlKmKS1BQm8+o4XZ739gbP1Z0gojAWRhNv
        YBJWeMZNuCIPWtc7yQ181VEkEiuI9UVJ4edpfq7uE5rcy3mweEL8FbVqR1/4f3HP
        P81z9l+POwAddeJEMByXp2PI4wwbKUX958loXHLrrrYBn0PFgDC12pStKTAy6/y/
        Zl+OTvg5ykQQG+rv0INUu4/YLIRmvjsnJbzprpcdqPCAT71YT4LcAVlxkIkCPQQT
        AQoAJwUCVsO2AQIbAwUJB4YfgAULCQgHAwUVCgkICwUWAgMBAAIeAQIXgAAKCRDi
        KPQ6m/a1XH21D/4q6ynlktKTGgKs+Lgl7RmDj9NrU0ufOtBW5KXgN9ZH4EPZLjnN
        F5GkcTgyuV/LfBbxENYTNu0/iN72tzFFrzAfHu4/bp29rL9KT0EtQxK19eDS/fih
        dDTmNK181bOUnKx/ff7zbvMnqm/EEsDj8+I6ALoAxQEsIQY7EfgKa7TB3k9H6BKK
        z1UYgvQxuGVWqF5gp6bcEB7t1NmyBsEl3H/I46uFAsS0lvP6tnxYvr0HrsZ7FwMG
        cZo77bKdn6vPYWAjHUH5BTeEl8xJDyU51oBHXpeclInEdIeRqsrdaItlAwM6Txfa
        rD083q6VPQxFA6EUX0N/teMyyF3NxJbl7N86GInILiyspWliiQD9Y41hjKgEoNu3
        Kq0C5ncWwc4/tof3LCnoy1awUBAglLLMlcp2CBbg1DY1BKsyrNqrKuygd0j5zCTc
        yVbzsTt2j/PSF6He5USC0WygmF2ZWhz9Z7SOAtN1hjXtGUjRfCwrMj3sUc1Dh0Bn
        iX6dnx+HyNch6aXbseMXY6GJ4Ds+qTSlPhySJR/K1NMkL6+deixoqyA/Wj9BDhQp
        e20VZ6er1kV5K7vNCe8GGls5uEsnM0CQlSwOcz8ai+UApm9nk7AmUZiZICC5CVUX
        jHMSp+6s9hIlQxdIheAE77AhFBuKbAMA9RksAPMudnLBG00pyhI+jru87bkCDQRV
        2SofARAAmX63+ln3HhhEjjUyL3rIwJ70oEJMdiOipMwYlc+MumQmF2bJj+NUdioq
        VYaZ3ukqQzXkBCIL1xn2NZmzCNivdvsRkzaMNmqRYJs23umez5dzC7nXG2Rw33OC
        ucMl3F6h5GqBBmDfGKxgEtxJCwNOsv4fWU4mwmSqrLusQCEW1NcuSGY65XmHObA5
        45+0DiYv4vlTUAnTrLLL0hAHsaCt4IL1TsMoeO5hos0ND93ibgtHjoCOw4NtrR8O
        0V0Uk6Ag6Gr8c5DuUBNEbhohMqbWXj3yXMk3FLWe9uYkjK6Dv/ncc9PALu3+sHfO
        goQRP8H7vByC3qUNHefLu8iAL627TlzPXwKd7aooOU13Iytl7mjSk1RWMBhjZyEM
        Vq8A4cS2IqXGofvXVUYyC2/7plu6iMPyD5zSbPUbzLZyGoMO5ld/bE5WeJS5l6Bh
        0ZE2jQekgfCRU6wHUMOaSfEJvmDxz9TlCm7ACvIY0U6ERVPw9JCAr+nwraf9TE7h
        69wptqkPQbpRl1Eyi/UKeXZeH3QF5DfeKc2W781r41Q0WvCJqsIc9c8sGc1MWyUP
        5ZNSoJ+SsTGs/S41eH7b9h/S3m0QcKFqQpO1neT5sxQNI3DqVw0iqh5xaMOmnG7N
        dllIrmQbG9V+O4MNSzmbgPRi5oNJp5pxH9wfBhooENoBWEuXgdcAEQEAAYkCJQQY
        AQoADwUCVdkqHwIbDAUJB4YfgAAKCRDiKPQ6m/a1XM6oD/9XjjP342C6LvA0+i5D
        91Cz51QbBTvuJ6jP9SXNxHeRamZycQ8mf5Du+1PYIH3Ax/9HSjkJC7pGvdaU4xWp
        nEBoDXzZIBGft1pNdgMIihQ0ptcsvKx02ZHmyWxhgCNbGym7EWr8g14/pS9tju7d
        B3fZKWHTcVJoObc2TT/Jsh8JKVSpsPZ7TCNNmDaszo+AS0CVSk05pP5CCwUpGrUa
        rVaioG8MHvAZLQqMO8tHqHJaum46Bn+1B4NWmQGwhzU3m6ZPGadCaQmjTXJuh1Rb
        zQUXuw2JknlgRKlN7GjuDCKFFIP5PgrU30rrEfqtB6uRk/pMC5yc/BUMFa3IYJAB
        AIxSyy8SRjdqW61ZAkpWdcRbiqY5Z7hRVYs13ati3imekrbU8pkH4D7tRjNggZh5
        UJ7rr0q7BmVrDSnQ1NdN3U1qV/omdry+13bYwJ3iBzPY25iQ5JVjbKE+JNEO6BHK
        jDv49vC6PlpeKYiwh8/p+CqEtcstIABEktkeH2CDx9pNyrvk2tnvJUWD++P3irWx
        mlpxJHiVU0dH0AKyLgml/uU0dJu4+ZNTsCmCCsebaEWwHx+TGVosuaBjpjEiFla0
        uFCWReCj1eXnFjPcwNpF4jdOBbCnunQUIFcbisNhnvcM5jm+uIIyiJq77N8yq9xR
        OWVlBC1hxpNbYaVO+PPBYnlKqYkCHwQoAQoACQUCVk6ryAIdAAAKCRDiKPQ6m/a1
        XKJlD/wNYuIuIhoLWEQ4P12EllUB8KfEB1yrrOr7SlHptj/DcvJPVa5kC0zEuofD
        TSsGgQSL66gpJ5poQ7MygSZ2mj3WLSABI6FlG8aNJCcEVF9UbmqDmH73EbM5qJ1V
        hJH4TR9ZiMchT6xGVKXPQILXMfztQFeByxch10xEcQ7dL9u8vxI84IeliV41TfYh
        +Vwk+bagZnjxg4NqWRK6iDRqEbJXPzD1R2SEa1o1rOAqmtgd4qOj9HUnF59n/Py1
        C5LsRchhWSUsHVXSvW4e670nnyUmqgC0oWJoGCbvcuTKZF1AJJx2+ao69S3RfErC
        V1MhUsoAxOLifkh8bwpqBt5YRSa2/R0lcV6BSAeRdzc9KTl8cnj2aHyb9HEQrLOG
        zc48oKcxF/JMoAt8TWcbZyOYPJwy5xSf1SvlajpaKUyWqAQN4Q8Woj9BM2UK2GPS
        Zi/yHiERUzTyZDSkQBgnxm+/6oJ08bUF0Nc1pYr4lcoTlwfAo9IGvjXW5RWWOF5e
        t3v4V2yoG1Fnss4V/ugyIQstqR/FhwkTIOxOegjHOqf43METLTV6592xB2kKX7Gz
        j4vp5jh9KgQjHmGD3CLOGQzugMRRSmlO9+GC6mjEu5OeJg8RXk5lMjxey0UiFW4m
        vAXgC6WKNe6lPFhjgi23FpNUBsx82ILYxDwAEwEbNHRXRTWASLkCDQRWTqTYARAA
        wCiF2HFH5s4FIsNMhXhhY0rKSZjHiun8wcJ1t0nZHcn6l6MOHSFyY/TWSrK15gMp
        +qoNShy8R87KmZYLBBWBgaPi5G5FD2vVodck0DPfTHpunsVLP8y3aaYL67uoPEML
        35F+Yn75tWOkEIqm8R1qqDZ9dFTOfI1aB26vecL7ugkHOcfLDxU0Yb23zv0YbTos
        SbYtYiEPPbBdy9rqGTthIdn5d+EXX3kwNeYmYTPr1jcWDLSsuEF1qy5+TtsRlIXG
        /ZF0G96bbECktjUgNvT03/dxg9kXIru8r7ma7KTWL96dBgc0s3HoMmV4xoTboOzf
        2vjCMQXITuWdy1dxkfKQUJiGFg/8E3utfhsZ/31D6GQ5NuuMuYWuM9ZHHTBJr99f
        MBxIvF5y9+C+t717ftTgOTrM+AJmiasvvKxHqzveU2IDQtB3nMhqxViRpKZhkcpZ
        nDzs24by0pytN/o52FlcDf+DYyawHavLg6EFo2KWSvMXzqRgse1sRFg/mR/sAchD
        M+RpxFXs6HLB1lavRspxNUhF8CeC74cEcSOa8YHsQCVWXL+5EdnIreNY5KSX6Y65
        CwB/Jp5CEgxsKYSlM16rNnn5LSWr10W3VWpU+RlPkW/eNSlRBCUlUd4mXFNuAY5A
        C6UzRm5RA+jbuDoBpUeG9WQXExHKCkuxZ9aGns8W5nMAEQEAAYkCNgQoAQoAIBYh
        BBHPk6g9MzvX7PnJUeIo9Dqb9rVcBQJZ5hhYAh0AAAoJEOIo9Dqb9rVcD/wQAKN7
        PJhczeHOHSL/6sfLeyRDFYUtfLZUYawo3hxyPQrutNvkjamt0nmLgbH44d7TG+VE
        JJ8GtIrRqXou9s7ZzxTFGEimcQWFY6FDlXbr3L1OurS5gFZ9aoJP5lK7fqY//9dO
        qs2EU0+AquCyqVJ8iyeLHfVMCvqcEgkm0VPaN64rwExS7JNASJ7QL3jn2NCLa04t
        KViRBIwoX5VMfi4pEf7lDTOeuOpRFrBPDkefRun7vY+qxk932IEMrE/XE49qzxAp
        TIfEJGN6psS9yGd08AAvAarVs084CpeRRBkyPZ8957/Ro5T6d473bTW2X1jiuwnw
        hTIg4cWGWv2gb1w1B2GQtBwEeCagV3BmMeP0Phzoa85a+krPmYcLNIx9+NYM//u6
        +ei8F+vOhx2ocBgqdWTJvRa6NAk7izzOnRd0CsgzW+1WhA/LEisShwDYFfLHFYeg
        tj0Ln/2lNnY6sD2E6R0VUMPhDB1iNCjbVRTf5pGlCTD8rtkv294/BXj30Ttedqh3
        yOlHWTDYHOwUj1tKhRZWLU0fHuWNUU1ujb6z3bBk0nRM4VjgqYcw+Rnc6kEKWcPi
        hi9ElHVlXP9LAus7JYlpdOEgffKA605vd4GSgtzpHg0jSLf1DD57ySj51kQBCtj/
        xMqMPoIUq+3P8b/7f97G68HU9tK1URf6tBiHB/CriQIlBBgBCgAPBQJWTqTYAhsM
        BQkHhh+AAAoJEOIo9Dqb9rVca3gP/jXSvjaU+vkCC6sl72ffFZf8Y5VTTmif1mm0
        NeVgJRwyFf3U1AtGZgGVmmFJnOw9i2wrT5vJrK8hfjtzjoL4/kacEj54ulVEqsOW
        jqmZGVp+X3kN/i9wVe31Ll9s6t+AH0I23DNx801RDPW4lXTtfRRAzyVK6dmQPzAC
        z1Ey2B+4CuXPn/aYu5oXvFza5oqyocDNRv9dd9l7S0cuGA2WXxLztr3FjLZOC1B5
        FbhjIRePXbnxK7k3gfmsdn8cGTEzSid2FxoNej6dLMTwVMOClwKOBZBQXBWVDsIv
        wQsWAJlDYbxfC656Y1+sDIg9O/kcuQiJSb5rV9WnGEmwAUcuvddwTBrgkvqlO22P
        BY9DTBL+lcLV/s3Fg4+sPUlJevlS6DXNZ21km8d6IEwSa6YTAtGnmAHmbFqq6STM
        HoxL8OdWUUjb1/1CdqlzGD6sUHq2QxelKXYR3gaErkIPck7OqDYOm3dF8GDO1+Tv
        PTKMKZLXmewxmq32iOOsM/Ujl31IPWpVfJlidGrzpYvgXKXIe9IL01szc2xCPlgY
        B60Zr8hJc94A1saAMvXxlBhZ30rEhZGPHFfDTBiCK20TXGbC0v9QI7iJCWAo6EC+
        eOFl0H/Bd0AzwKmZTdqi9u1s1AA53tDjNYdNp8k6LizYBtfoWfBGRYudCD1mimWh
        M6PQdwJQuQENBFZOlV0BCADELb3itKiKnl3yBLhg6MIL3FVUpIuMYqmX5aNlEGwH
        VCmCg+IAii2/4QgE8M7Bx58CrBX5JvGtf6W7OnqD2o1ajSCnz0Q028wmNu5SqJj0
        tAFOHqkOxQkJklbA3Z/z824RpvFMPaHd74MeaYVp+X+OB5EMVM4X/FVfgwZEiv0w
        YSQQtwbS1FJJEJicw3DwnyrcnvDLoQf4iHJ2NF4Ob6LwASytuRlkvGorogkjquw6
        Fjjqeykvpgl/auQ0Frw91pYZ1zoUISQUD4k4hrRg2vMM+JUoKqmVBMVPmEwigWzy
        trSGxGES4N8zq8CkmT7S3d+oex5QswfRvpVgJhzygTaZABEBAAGJAh8EKAEKAAkF
        AlZOpL8CHQAACgkQ4ij0Opv2tVyhFw/+MFvMw19opsVMC32N23aKNIRyrhoEfD4Z
        VvXEBXKpRhKbUA/Z2xtYdAqqzkronBgMUq8Yrw6YxRGv3W3Y32/05nt4qKGwIn1d
        w2L3lJDe2QKl5GBvMHp9WXluCIoHciDb25h3z0yVv0MJAR3hEB33LPffsFA3skaf
        c9cg3vB0a2ZxXVpZePiaPe01KnDn2zjZ16aoOALLN4IXzN2NQY/0gMWqGSrCpfd5
        m+qTLqVYEjIWM+vle/xr3+TLX6zCyt2kzkgBjn8Nd7N/JHVYDH+dd8fo+8/y5GhN
        Wd7UrzDzr6Ce07qEVVHBwBCZx1ItD7EXet4dvvaxhoo3rjSyeK7pk3mDEDA7uYef
        A9Ua/yDeQghX1CS8YnDQOOC4depzFOvuSc9wbd/Stgg9y3honq1/zJlYJgfb0GbA
        YtdrRdBAjGypok8uSFjVldQpMVh7CiK6+4judxnqu1IkiqMpyqrLLnKxMYgsYS94
        8n/f/eybdaw6Hj2wADlc1gXYTh2gPUcnPZrqVQMDPcHj8+J6iHZdTboeYUJs25Ne
        CRvBWURZ86eKtKCseium/JD+sXgq5pkns0V7qX4STMAGA1spId8K7hhJFp5pu4CS
        Z9KCXvK7/jJ6Anyeg9F9jk5LhayD4Dr+cTgUxJ55KuA9h7984GoBTMCJty1tpw1a
        74XWOtKG2t+JAiUEGAEKAA8FAlZOlV0CGwwFCQeGH4AACgkQ4ij0Opv2tVxTMA//
        Thikt4xJJZTrMSneS9hJ5VJnw2iE3P0az4cykaW+/KvM2id/dAfSz5KK3BZQxy3k
        ogoVOEgvppwkbWuLSoZjDKlQlT8AvaW1pUoo6+JGs6a6Mt4J6rkZv7jKyMn5M4S1
        Hq1iuRZ0fuZ5xDtvyvfuJlBd86DA8J1A10N7leVD+YsUbC/0hMgvBCbJF2Jn0BJb
        OKb+NTxeOnGS/sksgLQUREP8xli7xpOLne6ijglyqJL+bwY6GituxsTI3wFCRB67
        jDKgtInVBLdWlBn+p+D5EW1d6fQE9B9luiv66St4ITJPZiTuAO+MAwHvLluU4VM4
        QnaQFkU7TGh3XdCgaxKAd8gHBgBn3anuXB+0KUCbiu3etajgz7nHC7YyQeI4gAyc
        hA710qhkAXSzW+1EaTYsFUkpLl8pKMdZROuzHD+aBbkkds7EIIuBWrIVyGUc+TnP
        LFWNSFS+Nm2Ak2gus1XXIs8HyrtNtzAQYLWML91PMcvTl+OR5TAz173fTJI+ZfgA
        +bfXsh/62ljBcnSKPvevSYw27Yu8oSzN/EG/OvuqhWREO4AFZasDG/6v/MjChdyf
        JWB5A4/f10pCNW9s0ZA11DWYIxpa9Fe3CA1W+ujrriYX6IN++Yl/5CPSV3krnq2A
        2ntvDsKMjJt1iSUSVnkgtPkofOQyYRPJdl0zpZU5bRO5AQ0EVk6VfQEIAL8LSuKU
        rjv6Yk+tlynzUuoxS0NU3PxiA81/o9I4xT5WNa8n8H42aAYBHRj7cIX2/VwKKf8h
        5fhJEf3XbuczjPhWdzMkFwdazEAt59MlY/x0ecTS9mRwzbgHNLwmlAzbHiHi6kms
        4XsgXaMHryENn5+QCg+iwfVjyS3qFknBhbsckmdl1m21EvsFL+Fz4z/bW3ozlWAq
        PIrDfw1AU3qH46aTQppoQoa6MXRPBG/D6ucth3acbhBQh2GEURBmsB6TnARHFtHz
        g/iJpifQUQoerTW8jf4K/4K0fBE7HSh9aSSTpiunKWgcxQUFtfTgkRULIPkWsUVp
        D90m8qf4Zapt3GcAEQEAAYkCHwQoAQoACQUCVk6kzAIdAAAKCRDiKPQ6m/a1XMrJ
        EACU6GaPy0XMIKrLfahdtGVXL245UIvvOaprJhv739gSJgdLCUsA5LnfKRHfr99n
        oW41F18g4AL5Bb2QHb6HweuXWImkwBM1EY5w7GL0ncw+En19mlN8rAnNAn0kXACA
        ozXL3BvQdwzDiesF1JfHKrHEjQJB5EZJ8ERve8clZ5bQNEUwvWlw1Zu7HgDbDXXY
        gkUxMPVLRhF8vdkHsnepIgjBcmYslGcLDCdMP65afgGYJVI/2A6k9O5HVxUcLQyW
        nZ/V9150rjmTD/KqKf01yrOs9LBT91nFo67GcU9t+WPINceu2tDMYddHAmRiPq4Z
        XTpP8xpJmI17iCGz4/MVDUaKB3L9mDz6BKyByoZR/vzDIx8CsZn6CWRxylKSQ8yg
        hZkqVsauUjxuM5xux6CYc+rKl2krCIHNh4gnQvYwXS1cUDShDurxvv+jeMbf4eF3
        HhNDqv6SWylbifUgx+yKCxSNnFjbACWkYwgMYMiiP+IxzfV2ZJs9vedSNW6UN1ys
        RV/6dReFgoAg3CLA1ssYHt55CO36hQ34Yclt2fRpuTFb4TK136FCa86o/EjfU3w9
        SYWCvDMBU3yEa5Nn+Kzm9jx+UcoKnTjuO40cDZfeARt3eBGtc17Pj87neCzANgLG
        je10BX2S4g9kGZgVy9KTw5N4NaGp/KeGy0DJFazgCQ6vuIkDRAQYAQoADwUCVk6V
        fQIbAgUJB4YfgAEpCRDiKPQ6m/a1XMBdIAQZAQoABgUCVk6VfQAKCRCeKfEVBoly
        ueKRB/0cznaZt5DbVeXqnYYwwU7Ww5+b2e1Y5GNp11jiyvjb1bWFUDvzOsKkEupX
        nnR21ZX4ZfF3YagMm+e18KHQUXJEEZKahIxnocVxf7IZCfNzTmV265HrMsD4XP/m
        xcF3LeoFgQMUoRpR2fMWM0EfaT2QKsXvfpp4efMlLuq830GqIADw5OozSkLuCN80
        RWA/ZgV40qkTK0ByjT80NweKgvEmu1/J2x4Owvm/Tn7W+YJSuzxX0Iek28cq7izj
        RgDyZz0Jj/Zjtl6hjVgyC46SNpm+htFPD0V67uyZFZ42zie8usWQDHSgHCiZsjpv
        T3vH2t+G2zuUymxMHa03fN4AnI1ey6sP/3BRebpMJ8qD9cSgFohy1sK2vmJWqV13
        2kTDJtcimK/43COvxu0xBLCs1xqhwa6U3Q26c4RrVAsmgm+35K3GQZdJ/mecbZZ/
        xKWQv2CheA89IliCHER3vQybc7EDpQGzBPW2nO1DZp8cqGFBt5SO5gngnYmuKcGL
        LM+hbld8pMP1ajCq6fTE5VVf5XWa14wCE7HJbxo1LJUJS1rzNxTq1Fs370/wE7k7
        o5kJeKzuvzJoUFFsNW170F0F5I0bbsWuCinvlAuJ05a9jSZc/5T/r/ID7TPBDZkk
        HxqmHrO5oIeu+Q2wgK/oFdWcEmtF/2W/0zpZAxeNJMq+I8tWYVi+pkJ59x/Ml0ie
        ZIBhg0e3cnMuq4gfJz40H7d+Fr3hR3SerCNCf85QM3HEQiwNpIYZ1J2vV6gQIn7l
        IOktDGZx03mGxsYqEZah1NflICsPIHivvIp4MKPFyys+usJlvEtubuWH7hVSVAve
        W8O1/ySaMjdoGimgbUgYQ8kDJpPxO3gOmmUo+6cAK8woh/QigX2BRSJHaL3VCuQ1
        y3D2zF3cPm4qHB31W9tIcaOJh9jfmjazFwCqXnMQ8gDrqjJhZBpa9N+Bv8sTVaGF
        K6+3kqL3MFx8T2egYufdOeTRoxIcrVyZsUjZKfx2lR/VsKydpVzi94mmjCjBALB7
        3+S5RL30qaA+uQINBFnmGHcBEACwGkzcUk7LXjm8nHVXr+Fa40CoI0HUGmw2Oa+/
        l6vZcR+HNe6hthQbqaHRvpEOLSIKA80AJWkHDywY37IMS6rHVlgWsmCHLwC1ontk
        FnSJ4cZe00B+54DPwgFV9SQzkMoifG3VuK+/kTgo6on97ZYcJFxX8MflknLMNFgj
        9AldNjpf1DFzisDgwZz25HrA22KNS/mBRS0sNaMPtR/Kth49zERlKqYWsYidu0Xe
        uB0qD3cN4/FphhgfoUq9Z1LAGjA5Pf9XNO9ziLBoKnxDZaPi9aj5/O1fAPDCWdfz
        NOlmDun2s/X5JbJByZ/1y0M4HbJhBLewSHCQr3eHWL9Rq8QNxoPwWsV/2W4ErJ5n
        X7UcpSagoYtMeM8kkU1S/K9HM+XO+vWMvmdIa7dbX0926JLuZ2R2YiufKaPXu3H6
        Yt/cnyBbTn6D83qi1GoII/wECwsv7JkhI1jS/SrnfMHflrzdcVWM0/S9O+gAPWzW
        FSMYyDer0sYzJZqxnr3mDSMqEHU4TYUonLOtSIo80X3Ap2ZmdR5KuJlcrfblM8Vz
        5IIr2hWh7+0bGXczwXL8RGPbsKmzomZoL3JIyLMx6ep8mV5k6yh9VQDS+juPdDk3
        7Y9FEkiIemwhwg/2B7RX9Wk3p9rHuKI73sBy54o4Brj+Wb31J9diAcYJy8g8teCI
        +fg2tQARAQABiQI2BCgBCgAgFiEEEc+TqD0zO9fs+clR4ij0Opv2tVwFAly0NC4C
        HQEACgkQ4ij0Opv2tVxdCQ/9FdR8e8BLf/DBB2F1BO6iTOXW9esmBMtJJ3zGhl5u
        fV7E8QoG5C2655jj8KxjvKnyCdeHX41YqX9UgXkZD1xsOoi70hVQGBTGj2kTEuDM
        m/PTdoRAC33eUV0sO6oQCPMoLEpBKG1kvgXusE584baQ3ma1/F+HshO+sSJfTSms
        8RlgxCtF0tOWNgZFdQ04JB3jiBe2986y9E2rKxKydb/hN/558ZZ03/Ptl8K0WBMQ
        ea/X97vRm3tVxlKm5i+kQwgjIaJ2vCpt0/R0/XDDiI5k0KL+g8WrMsjDVc+1actE
        cF2pDkKgkFFpMUnkUeerLjVS1kQxAg4VYuCkbedvapTv4s24P93SRFTgERXeXe22
        umfteASYpKoQH5UQHoz1KjPNvGJBBSTqVlb48mp3xgILv5nHwm2iJV+hizRgF3F9
        G7o9Tli2SXaoXQTAgiDSyI3boRrcyzL6m4y5gQo/I6il/kSLdgpucRUnqqHJpoum
        zM8UKL9zodk/NUcKonpHJ8zmUPpqSP+YNFnifQkRdAH2Aew+Ay6QU+wgNijq/aFO
        xe9KkVoSZotGoclEPHxgINflvUyC65gVOD1XC/V8NA5pH+H5OzAnniFnTunsggN6
        Ln8EA3Pwp0HnhhgkDa8VVr/wiNCW0sREQt5/s3Gb5FbUglcW2qQAZbtMTwQvZuBs
        UdaJAjwEGAEKACYWIQQRz5OoPTM71+z5yVHiKPQ6m/a1XAUCWeYYdwIbDAUJB4Yf
        gAAKCRDiKPQ6m/a1XBmjD/9Zl7GEbkb9jwyeLMSA2I4kH4M5dhVqXuBVi1YILknV
        SZ3AZjC4OHmuontoYgAfspMAzqJypietSgKhR5I+tfGB0Ukg+Ue4t3Vy0mEDZ69q
        /yBehxDHi0/K7G5OGNO1ijlRsOn3aUuIyL8WyZi9br4/BP0L3PzCRGJ8xxlNHdQ2
        9Mi5Yn2a0xuEtTazY8Hf47SQCJYWh8GgwTQKV2/ZQt2r8A0ZsHpIGxm4zvWMjuQD
        +CIdtDUFgJkJWbLXNR/gqlu65MVcgncCmnU1zRax1ftaOy4oyJSUg+6Mxf07rwSG
        TnE2KMQSz1wJ+p4uD1pt6czcZZL3JV42c2H8GUn3O+m73JqQK+LJHIUwrhqw9aXI
        SLslC3waML4QY+1adn7wo/FBL7+YsD2N6ZfrlokTx5E3XBCBjtOuESOImu+vOrAD
        C2TC9SyEeKewnbtVr93Q/TfDnbLFBnRRRgHxAS4V+N2LRUHS4eplE/JoCSr4tHSG
        Gr/OvShATLlbAM2T7XnmsuIKDwIJne8L13K7ti8nBlGoie5X8feOZKlZOzubemdp
        li9+cR7cicFVQiQETDwUK42UWuNjdf1YN4YENC+ZePIUfrejZzgXVBMvHqHlSJ+F
        LQN4ufjkHJvHIs6QLDnGT+sZ9ZklKzqqZ7QeSj5Dx2A2SpI6PyVchIlvt31QR6On
        GrkCDQRWTqTkARAAsDRjwF1+JjfO7wEvB/rElnXuINaT2RnaT0X7ntpO+MeW5uXh
        05cQ35fT7u+Ihq3mC0c9K/mWI/ul/tOVIL7uxqOxFz8jdyE2/fleA8aQj+AI+JQq
        AaAv8yT1WPqV+x3ofAqmKC+KQFlBT7KGkM8QshZQ4Xk8xoV0ca4Ka+E9gqB8K4+E
        cDP0hm6VmlanKWdapLh8a7Ix//o0BpJ3fTnSfEwjGDtRnCTQYZzBrRU++B5906gE
        CHXYEvu8mpOAqZ9CCCJKoC2srPFMT6s0iB8eJ/RJ2cI1bUL/3l5vN4Y8vMRzj6Pl
        l1YJCZezPbEQwI0vX0eVVV1cMITMK456fIYr9JXGunn99vu+t+FDITtVaZxgWpcu
        HE7/VVBZWoY5bM4Cz9Gxy36Q0YcD8jQl8J+KDPgOG0kL6oA/ENgqRCl+ykVezLkK
        JjKzE8ZfBdcj7BvgU8ne8m+AOVPFsPs1jxobJpx0ltHK0I5a8TvW9t2QRalWFn8t
        Jt0ups/wifmIOCcvl21EAYl+QGui0uqWEqXY7QeB7CNJov+0gUA/7PAOKMmRw0+K
        0XHmPyAIbVuIXleplqKHrEFZsj0H9m2mXxn5QSruPfH2oRuru4w9rdQdHwRT440x
        pO5uhLDnrrVOvE/teqovU4NYl7vhU9fAO5HV2DIelpl2xdqr/s0jMo/B6REAEQEA
        AYkCNgQoAQoAIBYhBBHPk6g9MzvX7PnJUeIo9Dqb9rVcBQJctDRHAh0BAAoJEOIo
        9Dqb9rVcA2gP/35xXx4bW7ly0n66GLtI/u0ZuK8++OvaDVET2Q2xoo13QCbuFIFI
        QVCkDLybmT+3JlJalzQRhZBST0UIFaaa1uyiZQ+ZaImWq8qiydpQECJD0DdwFGBa
        Ucf7eZbbYl7eBgDmFNmJQqhIwZkWDT/rI0ysvU6Sku9uSg1l8oFhoLEz2ulpfR0b
        6ydElMVFE5P6d9OhqVTxn/BB2+Rh2hiHfas2hr8HqTOECBCC2k4ROkRVEzXeC0t+
        tjTIKrAKm0nQCcZJ8lkeBYpu+MT8kGz9ApmkyCzX4wjyAZ6A2DEhowdUWTKrmZal
        c60q3EX3pjTh7unq40GNjYztyG5OMlA8Sv2hmQbuIi+YYc/RKT0EH8/p2JnayFQ1
        vM+38QCgbS2SvRiNd+h+lNRMURPfuayCF3x3y3xWzUiU7M+QBUG2HaCfok/rUJtj
        RXlxryytuCuvBrvdQciY9HHom9dSMlcPzFOVgUFLlF0voyQTi1KkYxaZks1IX0BU
        NNHOYFP0syWg3T1aTZbXV5KPjxo5lygsQbF6KIJGdPy2BhGgwnRjaMKhzar4WMgV
        UEWqpYwigKWlEpYnbt7GXPvKtRnTzghlEe6WhOKd5FhO6bU1B5Q+LOjqV2IlnHRF
        yzeIIRGR8eUZJcrxemNmrjAxXB30D3aCK8kaebu1b3PRITZgXFcz3PLCiQREBBgB
        CgAPBQJWTqTkAhsCBQkHhh+AAikJEOIo9Dqb9rVcwV0gBBkBCgAGBQJWTqTkAAoJ
        EJf6KvPLE8yTC08P/1hp3mI+VijO95ZynaFxf+7/xFcBx1x0Om5Jhb61W8tQiaN1
        QjmewIMDvisLULWFKOp5QbnnX3R8ZVUyz1Hc5LjGH+9N09/fyFoGHOkgpLwA6xyF
        Af6+R+eQDctbPBL5O1s6CQ7YLHIzCEZCnm3enXWKlcG/RQiSz50Tg5nbIEdthFfM
        hFLaw4spC8NhgnpOB2pqg1sCH6/BdUEYGKOr5h5BjMPEHZK3sC52w2AfdEtA6faC
        rAO5MSdpYsYWtfZjCcZD64G1PbT/NQHHr7bpTKmIksiJaxIr5/MNhDrSwNP8ULeq
        aE8v2EpZ9HWyT5sHIxvdOUpjVL8/cWfetE8HxHQFe6cE1Z0yXMr7LN1K1n0VBrq3
        Gst5yil8o9nbaEFRTCQpca+jen2xLieutgpTJkM1LyC5TDGPIaFf64NEXRqlZie3
        XiA6Kk1QY/Tk5SdbP9CALHI2ls01okEVMErCGJBczMxQM08AsIPBLdo9fZcn9UrB
        1hJbJLu5zmkA7D77+XyC6v2u5wsrOZxL82SJSglv3BH37ONwat8rZjHP0R7Y0p2v
        P2VQD1GIq32lsUPPvTkmlzrLPZ/wGe1c6KsQRW6qNI1YVd7JpLPK/+7x61zTUv8z
        HdMFHBM/RBicug39x5fa8Hrwxz8GOK4eTWKWJND+p3eONMtMYteGCPyUnDKe4HkP
        /1jJP7oanWELUqoKBTd3S6fboWoyRQE6sglRC+BdjnIB6SBvHFz3kSZZeWtdqzI7
        RjZYYpr2/Gno1VMe4X6jfUpBZvfYR/bNBwIBuF7hurns/RLTdv+PBYj7oC/U3X3Q
        i2/nY5ATqXnSyNwi7EzS3eYRp2PKBZVyCHpF9Xi/pPymUkgTnKSbsdetHBynO68f
        z7eH934QO3cvCMycyqDDKHED1tTHzANdRZqhU4qNNSbFxil/3ZWeiP+/hBndT6P8
        uVV0iitM3YnaLb/ZRFvc54mHEEN7xLdKegbYmUhZ/H1J4B9wsDwDylejNDF3BKkD
        KwUE/3aGS6iu+P0Qs3Ots7+TKJHUg/hF56q3xP6rz1Q0pty9pFUV3yKwZhnWSF2y
        WKEm0/xiIlyjsFyP21DK757ruVYBtJCTWeMJUAGSVy0MFvjtQCaCAWE/Y6kA0k4N
        2DiPjDDKN4IagjeUxQqpAMCa6Q1Ikh3U+5+n9GlgNac4McMUakj+j0Rrg4SKJCNv
        DKqPMWUETEV1+F15Sk9XPTtkDqkbI01rJdbBDexQX51Enl6UE2CByk63+pJ+Zx3k
        FEgMVRno5yqtMbgcvdbL6oALTRKk5ZWF05sfCTeu/gBkztdJjJSvKKmkeS1324iZ
        t2Fwbci2eiX3oktLUPOt7OmJFM3lWOXrwxauT+mUYwtwuQINBFy0NF8BEAC5liue
        Mfmly1+KoTuecwe3xUJbVPWyeJM82oy8bkhWj8FnI3G645qsMuR6iBatcDia5w3v
        ViTlxAEPm9zYJ7nTgLWLBozm0H9XPOzqiYrfPYSKGIErlatpQ8HpeA3w0HRw/dra
        a/PX4MrobPUlwjK5Zu/p0+thdbYLiSsKTkUzsUMfuS8CjY4Dnsyp6RzfatJFhPHu
        VGA9BecdS7jGCBAE0gUPVnasRi3fZ1J9DhUgFQ+zcwmpZ3OAifLilL0fZY+7nTqx
        UEMzfoZGFfxkart2KslABuX7FHtCJy/Q9glqabRe0btD6sTStjOsAPzymTFAY/MR
        5BjsI4mbAja5GpvFaDzRRkoFWtf9D1L7HfU8e6deJl0lWA+3wesnuzlrKLFXvs/d
        TuVd8aLco6OpUdOsO2BaRlHSVpaWV6QmlVGy27PnvN2zRMr6zf3+CJejqgVc1ZPn
        lVWyzzmCJt1QUFuh/WIypbu4BTeOgVdkkMmfRvpfbFJaQhNyCisE1kPJqfIjMI9I
        HPpGE8IooIOViOWnQtW0i5xlo1mSJT5/YqXhrhJgzoXZRSWesCx19nM8u7rymfHX
        WPWqW8QnepvcSviRSlLY0YbvVkWPsfIyXSHt75NrF924JbuxNbHUaMpqZE9ihsrX
        SadPzRr4NNzB8FJC9vBwFJi6rXDPYhY2ystzNwARAQABiQRyBBgBCgAmFiEEEc+T
        qD0zO9fs+clR4ij0Opv2tVwFAly0NF8CGwIFCQPCZwACQAkQ4ij0Opv2tVzBdCAE
        GQEKAB0WIQShJUsyHTxBOVW6l1ArE/aVxRROugUCXLQ0XwAKCRArE/aVxRROumYA
        D/sHfw4V/MpjhDBpaLo3hYcq7KcWXWLow0lmqf+qcApA6eMaIjzl1Ydp8pTR/yMi
        pAa1QkmXGRGWpVf87xYfqvAskP1DvADJVNXnFZw0CuLUqdoQ/QpeunPfSCuuYwBi
        vBxZSAdt8f2657LLWqBdi42olxVddouwF4vaMH/yI6Jq6YJfm1p+9Wvnjj/O2P9d
        QOkrbsJGDjLQkQpsYzZSaiRl5KLeI/A8siuTk67r7cL5DlxX2rBAYlbGGdYo1ZmS
        9iFMLEYITuzxvxPFfT9tO+CR/QZmfmcJd3GlfqplZe8pyRFtH1Fb/arfrL1u4F8H
        WqSBZKwyWRBoqc1Hk0WE9xQ8qdECLcM6n7YJI5y/Q25WMhWXnzr+HRrstx3Ci/4R
        Al7cleRg3hWT8/vqFy0QH3iHKBnunn+M5orbZrrZSSbsrFGnlQvFxSEh3Itm/6+F
        e2HpDZAjCsRCKJrEcbzLdzNWYGOGWoJRas0LuxLbHQwNrm/YKQhnJ+RE4thhCUqs
        PlMv8A1cDeCqyNj1mKsp/4F8Z83gvkcfwoverF0RBx4buvixnsmDe+DCXCZEKdqO
        hHQy84H68g+fbWok0NOicOPF/LlGVNd26viyc/NqgXYDAMMpkHXAZusXlTInf6Lg
        CB9FYM8Asud8X57eokxRgYEmeqZIyXQYPoLU315pAbMdSDmAD/958mZXrUzha2eU
        pWWhfaN2nnrR7vVzMZEgesJtQekjY+nyx9WY3Ahp//PLhbuJFFnIUyy/KjJ1gqCq
        dfKYDXeW7Qnk3KPqJrJeGlROYpcz2TTSO4woWzUNnPQRD1nm1DWn3l8t9tV84gQd
        bFN5LKbF6In24HZQXznWr3ExwU6PQBdd2cM9SzsDd2DZYY0HEv6wECeZ0DDrZUnL
        kk0kZ9OgVPp1Z0MtD/lwRWLDd3yun4uCGfoxcfg9qDgw30LfEfSr70kOTf6Eb1QF
        kzxkfDUyU2WewEg2odFgVv+4D/2LKiquFh6MUa9Zy8luI4Dv2KLJfftMl17nCvA9
        m18DoTmbx2VsmbWx6/M2WsiwpU+PXyqdu/H0cG4Vh5/1kIkWGG4aLyNx084H1ImL
        uSDgf2f0JURpiX5MT5tOOL2HhXFze89TF0kPgoJi7wU9wilvYILTj+pk7e5HzYRf
        HZFhxYEGTXljplepgBfx5xtbp5Z2B8KOQ6sQXIbCcUuYaiCAuv7gL8LThsMTJFGg
        7rD+4gS7AbDp9Fpcin/VT3ewOMuanon+LiyjISmN7/d3LVvlFenZAeQ9S2AoQQ31
        ltzKEZaSKlaJW8OtxQjwZ/B4A8yDuq3Q7bd4dkDpYULg7LJByHky6k6BInYaTIBC
        Pt1hHCEY+srC0vPHVh7ziaFLl8zH2rkCDQRctDSoARAAz5J1Mtrv6pbixOkFZElL
        iE2yMD+eboNTJrWFigCpTjEt/iaqelEgeuHzaWXOddA4cViSwE69rwXR/qVwGJSX
        5ykGR7KN1CuIAegk6ceUnpDe54OyxVypklDHVbKodAORRDoRjMOiTcQZVsL8Ap+7
        rxpY81OSlYR0qvWMpiCHcjB+eyx9ocRTjcEnLUNSIWkdkWolvTnhOlZnjvr2c0li
        ovisv3l85TkWYxo/tLLFFKhLODy6EyC6Rei/E6GIgVt9qekBMMTD9UgQ01xg+hoL
        DhBfPtm1aEwlacTvx3/tz2vYAxPNKJqnlk5uaUiKAME+RQHnsNZ/riRKejq6EEO0
        ilq3dA3Ahi8Xcmud9btmuECCPJCDMeAylOKi4l6FACj/sA7zGtGEczFxGyHTHhXP
        Q0S3tzuYu3qSUvzIy25sWoHYP+5PuAZibqQd09/4VBot+CSf6ztrKp0JJ/pgAjia
        WNNJ3UlJPfM5pf5g/M6XvO5eFGZyGJoAMNcorWWRB6ei7NEqurwkiRi3nx7JccVg
        9RTOVRXBAf8OD8o74k0q6GkJBk/wDqY3VRUrNbbhxHWJpW+WPVD59dyMqNrYFvx+
        Z9+SZI8XR9RGb8OSfY3kR+VWO5YOQNxDfT+ca5UbYVINrLCL1nifDSq+zgh13w0O
        PAwmrnSkUbNOwsI4wBgxL/sAEQEAAYkCPAQYAQoAJhYhBBHPk6g9MzvX7PnJUeIo
        9Dqb9rVcBQJctDSoAhsMBQkDwmcAAAoJEOIo9Dqb9rVc0isQAJNdDZqYCj679fWO
        17gi17QUWN1S4L+NMsXHghBveYT+FKNmMOdyGxhWdQF+fmeaa1Lxn332NlYO1WcM
        1tzzB5mvwImevtqlNJYEVyjr6r1T4Z+WtgX+q5HheLo5bjvmEkTBGxaXNP7elw6w
        LjogDCd/5aJaNuiniG7N4nk0wl/lXePcIVfOYIig37bSkZ1I3CJalPnjWR3+x4FJ
        gwVG+rZhf6y4E3H5Oli1Ly/y4UfzlFiJvK5PPjIoogNJxP9FovntD9ELKC8fqR8T
        2qdwf/cyIv30UXX8MyB/A1/6gNQOKSntItgzLKtnfGkrYjUU3crLykFCmt7f7krQ
        kfK1WOuknrSnTqOUwKX7frpWtUHUgZHlW96oz2ltp0TSpwAPVxe+lyX8CiOSrwhj
        CegWkdiYEjbW4lO9ivpLsRy1XjKyMudvShY206VhKQa6raqFV13PLQhSdMyZuXK1
        TDQVTlfa97yIT6rclD2yXrn+Bi8ZQ3eNztz/53DbOqmNffcxKGGyundtZmrTLE2W
        KteW8E/CLaAdxZO9KlohEtumWoI7LxecM9o1w8f6JOybTzOmO+XYWsR4MiS2R6TW
        Cd4UaN25wzGSAuCHU/FbPfiUKr/TC1jogrtlSJo31pmgMX187Bj3/pD4eUxBWTLw
        VEbJzsM+FcBdwoCvJvky+VABLjfRuQINBFy0NPQBEAC/x59zDaZORkAGueCkx5mN
        he1nchkto4Saq0xwIa9h/x61h4Z39oy5kHJUnZDZ13gPlfgOOR5wP3M6yvBzdCr6
        BI4IWXIAeOBGH9cbfn3B1LDqUqwcLtOIplwV4NBBeP6mj/a4sH2yXybWGEK6/MCp
        NXd6TIu0V7V9HdJ0kJxFJSW6x7Rc9Aqcj3VzsregFSXnXmyziPfdGXV4UVutJrio
        inclZHHuy3JRwQedWnIdsNUnHFh2OjFx8crul4ZTJa+1qffGI+0QDvUsAjcE62uX
        N1xMW0JIwfMsoj3XSOc/sXyRLJ4M107I+JAdWC+RXvGyVS0M0x+juJawXb6n4vT7
        JA6D7M7S/8qDJFn7NCPhiP37p8yVsZ5DuuFM1LE2sZTYN1NUuI0WWnE6LN0AQzeB
        EK1u3PyU9AnpOBBWFi/OynS9t6+oP4c9a7pqMyPkd3HmJNsndTLGbVql6sLN5BNU
        fMdBsms+r5s7tBLqg9i0YZDyClyv/KyN/dinUCTOLsPvtrwmo1YtYEDK/RCOztaB
        HstF4Hv5W9IaZ7SbcmAcpcJt3QmPueGDSfbJFJSoS5iXmXUjWjeN2/BZ242kRjhI
        Nwt+fDGJ3Ub6KY/TrnQmxnL8ujGobkRbTe48VsqlV2TqzTEaaBx8zSt2CFQCdc5M
        KvgOJuabke4X4hm1R8WoqwARAQABiQI8BBgBCgAmFiEEEc+TqD0zO9fs+clR4ij0
        Opv2tVwFAly0NPQCGyAFCQPCZwAACgkQ4ij0Opv2tVyWxg/+JlqVjyUYv/p5R+rY
        ksC0gJmfbYSZAqx0hAQGCkwbrqYwOlZnEcMIvR3JvCk6owkfJhm7ddFpleilSRmD
        mdx8Xs3C3F3gGH6ihbJ4/DQwWQuTlpnvjFZYJRBsgErxiH+83suUu7NV9ysD+KXu
        2sM4IIzq47GkoVK/E9jpTld1APtZ3u9mpiWAJTqwp07zqcvy1f34xa0/zrPEwpyZ
        /qOnp51aqYDEvoGISwff9f7NsJmInzLIQqJQb1TEG1Te8gqmfR6pTju4go2vm+Gz
        Z/A4LJgZZfGDVIt2eTG72wsdgf7ZTx3rg9OBzhhbLt2y1jcK8++Fct5RqmZo+CDM
        fdEknj7LSi5xXYzdeK1cqf8ZRnEgQEezXzXac2uFyLD2ES+hazKVtqhQ3Qg1GIzx
        hO+rtnTqi3hjKyq91hTLm9EsBOdbd7HOH6ZA4TzSEwTT1N+JLaFuoDi1IQrRad5a
        KAzNfHR4NTNO3ymOx6ERnBFe+TGfhhTm34aKtUsGURqsNiTwEoqp+0EBMaBRBruV
        5HpUB98wpMLaM+mCMHGzGR1sa2imkW5Uoe8F4jEsReIEFNajNTibE+/ZPgIdojBM
        ugcdM47Dm65tJUIjD3IukMJcnQpX89AC/tXjrLQmOC6snmuRdxYSaRd7ZRHtwMN0
        WpPJehgrz6310PYJV2YeBzvqczQ=
        =VnKL
        -----END PGP PUBLIC KEY BLOCK-----
  %h2 Matrix devices

  %code
    %pre
      :preserve
        -----BEGIN PGP SIGNED MESSAGE-----
        Hash: SHA512

        Device ID: DFILXMAZTA
        Device Key Fingerpint: dh/j q89P QvJG BL3W X4Dp dVA0 ByT3 RW82 SuGN xCg/ RrM
        Device Name: Antistar

        Device ID: NAMCECEQTG
        Device Key Fingerprint: 5BoH 0D63 Z3Ot 7Tqm Duy1 c7Wv tTsN fKAL KtiM 6TyY i5Y
        Device Name: Heat Miser

        Device ID: HGSIUJLCFW
        Device Key Fingerprint: GFH6 uiLg jbHT snl8 O6Oq 4Ol5 w8QE MsdQ 2ux+ Gbce luo
        Device Name: Flat of the Blade

        Device ID: VXGDWGUGUD
        Device Key Fingerprint: Rtcf ElrB IM2s wrAS 8KS/ tmS+ /bNV JAhv t8h8 UWQy zCs
        Device Name: Everywhen

        Device: ID: COHUVUYYHA
        Device Key Fingerprint: OEo2 M/3O aD+c weX0 UYrf XoxI eqGY 0ycq DnWj zgB/ jgE
        Device Name: Psyche
        -----BEGIN PGP SIGNATURE-----

        iQIzBAEBCgAdFiEEoSVLMh08QTlVupdQKxP2lcUUTroFAl0oMLYACgkQKxP2lcUU
        TrqTzhAAssUBu+GblkByCmq023m76zdEpR3WjvUIkXKm6R/Cw8IpLe5WsW8/CEji
        MNuy65PBj9+1fDR2zaXnt1oU4kfUW+Aea1T7KT3FL3B2YKAbNUDSQhIQQQEZJAsN
        C+5mZYiptmSAzwOfi7ZpUEPBygPvinONm+VaNrPgbT0RXM4STM63UI8hruKqyU5c
        +ZVX6zoysWypVPU70K8FRAh146dKmpztPEqKdZwL/JdrNAAGyUesUQnv9b7nXzp+
        Ia2M3gS6YD+Wmodci0r3AHFzq1X0bRj2g0Jab9Si5dWu/+mLv75n+Txg6bq6xxDc
        QfTST0LjXqm2AFTHIhC8OTq1MAmsQQecd5/inqJnTs97u8ebXb/4op0KULyXJhWi
        8f8XHNuy+Ekm18K7uuDCak9hzBvg1Wr6kq9Ag0dS8hscL2M6DTS02gheGB105UaI
        K/K9IdPRShzwzClLXWs2VCK2j1mrQA5gTzn+IZI/NSOnZSNI3gLAdjViRS3D69Wl
        vt1Ot6+46CZuOu01f8Rhmq1D8Zy7OpvuaABM3JxsPFCjjPE9Fa8RZfMHWfzjSVPM
        MFTo+U8fZcA65OYluIgiBVQQELFVB+w7Hi+LIutKLYPnK8lSRGrAPcBMsN+/v31U
        vYes+aZFyFlqip4RnxRvS+k91k1vmyq5SJErgXqjhdMp0UKiY/0=
        =TJx3
        -----END PGP SIGNATURE-----
