.about{ itemscope: true, itemtype: "http://schema.org/Person" }
  %h1.headline Jimmy Cuadra's Résumé
  %figure
    = image_tag "to_lang.jpg", width: "256", height: "256", alt: "Jimmy Cuadra giving a presentation on his Ruby gem, to_lang, at a San Diego Ruby meeting", itemprop: "image"

  %h2 Overview

  %p
    I'm a computer programmer living in San Francisco, California.
    I've worked in both application development, quality assurance, and infrastructure operations roles.
    My two principal career interests are working with the Rust programming language and working on cloud infrastructure and automation using Kubernetes.
    I'm currently available for remote positions only.

  %h2 Skills

  %ul
    %li
      Programming in several languages:
      %ul
        %li Rust
        %li Ruby
        %li Python
        %li JavaScript
        %li CoffeeScript
        %li Elm
        %li Shell
        %li Perl
    %li Virtual machines with Vagrant, VirtualBox, VMware Fusion
    %li Linux container orchestration with Docker, Kubernetes, CoreOS, etcd, and more
    %li Cloud infrastructure with Heroku, Amazon Web Services, and DigitalOcean
    %li Configuration management with Chef, Puppet, and Ansible
    %li Command line proficiency in macOS and Linux
    %li
      Experience with popular web frameworks and libraries:
      %ul
        %li Ruby on Rails
        %li Sinatra
        %li Haml
        %li Sass
        %li Flask
        %li jQuery
        %li Backbone
        %li Underscore
    %li Experience with HTML and CSS
    %li Version control with Git and Subversion
    %li Test-driven development, test automation, test doubles, and continuous integration

  %h2 Personal Qualities

  %ul
    %li Excellent writing skills
    %li Highly motivated
    %li Focused on quality
    %li Self-directed and self-managing
    %li Interested in learning new technologies
    %li Active in the open source software community

  %h2 Work History

  %ul
    %li PagerDuty (2018 &mdash; present): Senior Site Reliability Engineer
    %li InQuicker (2014 &mdash; 2017): Senior Developer
    %li Uber (2013 &mdash; 2014): Software Engineer
    %li Change.org (2012 &mdash; 2013): Software Engineer
    %li Eventful (2009 &mdash; 2012): Senior Front End Engineer
    %li Einstein Industries (2009): Production Engineer
    %li Miva Merchant (2009): Web Developer
    %li Rady School of Management (2007-2008): Web Developer

  %p Detailed descriptions of my work at each job are available upon request.

  %h2 Education

  %p Bachelor's degree, University of California, San Diego

  %h2 References

  %p Available upon request.

  %h2 Contact
  %ul
    %li Email: <span itemprop="email">my first name at this domain</span>
    %li Twitter: <a href="https://twitter.com/jimmycuadra">@jimmycuadra</a>
    %li GitHub: <a href="https://github.com/jimmycuadra">jimmycuadra</a>
    %li Matrix: @jimmycuadra:matrix.org

  %h2 Public keys

  %ul
    %li
      %a{ href: "https://keybase.io/jimmycuadra/pgp_keys.asc?fingerprint=11cf93a83d333bd7ecf9c951e228f43a9bf6b55c" } OpenPGP public key
    %li
      %p Fingerprints for my Matrix device encryption keys (signed by the above OpenPGP key):

      %code
        %pre
          :preserve
            Name: Antistar
            Device ID: VZPFZAIHNR
            Device fingerprint: 50TU 9qWp Kfiy eWsk 7LTR E5gT PIQm 9MOF Q66T Pn2i cW4

            Device name: Flat of the Blade
            Device ID: UJFALCLTBI
            Device key: F+3E MDK/ RNLm b7wy MpAH /KxL jHFA E/vc txrI YY3a 45M

            Device name: Heat Miser
            Device ID: QSPRVHFAKA
            Device key: 0TWP TJly 63/v 76oK php+ 3HqG 4CVh VEKB QWdg Zbjg g5k

            Device Name: Everywhen
            Device ID: KYZBIKJGIX
            Device key: cW2v nivC PGWz jY25 u9L7 Rhsu BRv1 0Xdn B06N 8cW5 pfs
            -----BEGIN PGP SIGNATURE-----

            iQIzBAABCgAdFiEEoeRzpC3gIArTfIH0l/oq88sTzJMFAlxbdDkACgkQl/oq88sT
            zJOttA//YF6HunHBXKZ/afbDtdkkt9/S2GagSkP1GOBfKOhQkiCnsowazGtsONPt
            +NlaxPPxkLlI1iKkqjvarRdIfNmfG0KrN7sh3Eo7WpTxUpI+iahNINSbrvxrmsBO
            CjVrrimwWuf5Uoye4urH7Z6DqDfEnUHiD4RCpDPIuO6QbqXpd39AxE5khqDmPa8u
            n/Idev4F7Ionqj91tR1A3oJQshEx1mC2TAm5NfLSnbLOIvgrrwAQsR1s+g3fkbkq
            bIywffXj6XCu4XKX4Wo2Zo9EujXwQfYRbbeAxC8jRhXkcTMiWkVc5S5F4MyEeOzh
            GRemNHxua6mInrBA+E+PPahpcoBzT25YxnEnpDe8zQISod//jWwvPurqdklny/WE
            vlxpGFkiesVU28e3gk6+MoPxYDeGd9GcqYQ0JftwLKlc9pGd/mZVnmUD0gbhiiXo
            jDXksH0uuE+v7Dt9iPyptEvi2+ayMWWiLUIlmjmrYksSWhjv8cHcILx1w777TM5u
            RoRNSSamyvtlG9PXkTWnFv+FzJxbbdKt5r/0N/q8O83wWHOOTaujgC3fPJYA+Pnf
            q0VzX/V4yaPXQPTeGcsXBEfBLvVaqDq+kCr9EOZYzNh1wUALCPLb6mUwnewkx7/L
            DwiKaUuJ4uOibKDN6wb1hG6Xwvka+X1S4h0YyWQfp4uBS+CivG4=
            =oKsd
            -----END PGP SIGNATURE-----
