.about{ itemscope: true, itemtype: "http://schema.org/Person" }
  %h1.headline Jimmy Cuadra's Résumé
  %figure
    = image_tag "to_lang.jpg", width: "256", height: "256", alt: "Jimmy Cuadra giving a presentation on his Ruby gem, to_lang, at a San Diego Ruby meeting", itemprop: "image"

  %h2 Skills

  %ul
    %li Expert level programming in Ruby, JavaScript, and CoffeeScript
    %li Expert level knowledge of Ruby on Rails
    %li Excellent understanding of Python, shell scripting, Rust, and Perl
    %li Excellent understanding of front end technologies including HTML, CSS, Haml, Sass, jQuery, Backbone, Underscore, and JavaScript templating
    %li Version control with Git, GitHub, and Subversion
    %li Test-driven development, test automation, and continuous integration
    %li Virtual machines and containers with Vagrant, VirtualBox, VMware Fusion, and Docker
    %li Configuration and deployment of applications to Heroku, Amazon Web Services, and DigitalOcean
    %li Infrastructure with Chef, Puppet, Ansible, CoreOS
    %li Command line proficiency in OS X and Linux

  %h2 Personal Qualities

  %ul
    %li Excellent writing skills
    %li Highly motivated
    %li Focused on quality
    %li Self-directed and self-managing
    %li Interested in learning new technologies
    %li Active in the open source software community

  %h2 Work History

  %ul
    %li InQuicker (2014 &mdash; present): Senior Developer
    %li Uber (2013 &mdash; 2014): Software Engineer
    %li Change.org (2012 &mdash; 2013): Software Engineer
    %li Eventful (2009 &mdash; 2012): Senior Front End Engineer
    %li Einstein Industries (2009): Production Engineer
    %li Miva Merchant (2009): Web Developer
    %li Rady School of Management (2007-2008): Web Developer

  %h2 Education

  %p Bachelor's degree, University of California, San Diego

  %h2 References

  %p Available upon request.

  %h2 Contact
  %ul
    %li Email: <span itemprop="email">my first name at this domain</span>
    %li Twitter: <a href="https://twitter.com/jimmycuadra">@jimmycuadra</a>
    %li GitHub: <a href="https://github.com/jimmycuadra">jimmycuadra</a>
    %li Matrix: @jimmycuadra:matrix.org

  %h2 Public keys

  %ul
    %li
      %a{ href: "https://keybase.io/jimmycuadra/pgp_keys.asc?fingerprint=11cf93a83d333bd7ecf9c951e228f43a9bf6b55c" } OpenPGP public key
    %li
      %p Fingerprints for my Matrix device encryption keys (signed by the above OpenPGP key):

      %code
        %pre
          :preserve
            -----BEGIN PGP SIGNED MESSAGE-----
            Hash: SHA512

            Name: Antistar
            Device ID: JBAVNBOKCM
            Ed25519 fingerprint: c+1Q5qzD+LZyr35jDyVHdOBhTv8xVnAvvfwa2oJmCwI

            Name: Everywhen
            Device ID: KYZBIKJGIX
            Ed25519 fingerprint: cW2vnivCPGWzjY25u9L7RhsuBRv10XdnB06N8cW5pfs

            Name: Heat Miser
            Device ID: QSPRVHFAKA
            Ed25519 fingerprint: 0TWPTJly63/v76oKphp+3HqG4CVhVEKBQWdgZbjgg5k

            Device name: Sly
            Device ID: LDSYZLVIMP
            Device key: wEeruP/zrAOg4n8Ue1jIm1WQ6Q5XppqBM/4L69AEOxA
            -----BEGIN PGP SIGNATURE-----

            iQIcBAEBCgAGBQJZITeVAAoJEJf6KvPLE8yTxeYP/ipfdW4qlGPHD4anstnvLh8g
            ECxiSrdUDZhLdZqEYwy1C6Zds5LzodbgmZfxc1ratGOtBNyUa6CYs6+RU0ZJyJks
            JLBUuzsfMSJxBiJhbysvM4ZmUJl9sknLlhhF3THL/lD82tkGZem5vaWRJ2o82msE
            CYBdzknGLShhkAhA2M43VdRL5bIxQzSgjhMCvGvcpUrLGM90zoY/QmM0CBUpK/P0
            hG0w/QrqeeEhbXr7noyqDeyMQd7wZeOZxtsW5h0BPusH9K+vHdy0b3ztEfL+Es/V
            Zjwbby6S0K6DncEZXX4JqNXxmcdwOjrSlaUcVmz1S41DKcVS15Z6Wd1vro+i3FbR
            04K8ydPR3wHAnXdFkumhAn8RYxHqGsU96WejDlCVslJeuYDsZS8Molh8EIisYFbi
            iS7ExhBsvmrsfeOTf/2ElF62hgMTw0EZ4Rgr0dBL4BqpoMm4jd9sCk1C/uRJJ5AU
            LEk7deaY7UGS9/DrH8SzkSKLValNHk7carfF0KSXu1zoK8UfRcO06lBpLNaPYSR4
            tLZsvs13W7Wf5hHW34mpNwQcgNlrfm69jlOnQce2KcEJATijIP8TCPcFWpVVchm0
            Mm04cLs0mdrImrDpvEp498PFvMU7aEY9J6fOil8gJ41mVvPNndwjn2aLMxj8risX
            zowrpn02ogN50pEx5GHt
            =WXQz
            -----END PGP SIGNATURE-----
